/* Table style */
.table-container th.asc:after {
  content: "\0000a0\0025b2";
  float: right;
}

.table-container th.desc:after {
  content: "\0000a0\0025bc";
  float: right;
}

.table-container table td:nth-child(1) {
  width: 30%;
}

.table-container table td:nth-child(2) {
  width: 30%;
}

.table-container table td:nth-child(3) {
  width: 20%;
}

.table-container table td:nth-child(4) {
  width: 20%;
}

/* Progress bar */
.progress {
  height: 4px;
  width: 100%;
  border-radius: 2px;
  background-clip: padding-box;
  overflow: hidden;
  position: relative;
}

.progress {
  opacity: 0;
}

.htmx-request .progress {
  opacity: 1;
}

.htmx-request.progress {
  opacity: 1;
}

.progress .indeterminate {
  background-color: blue;
}

.progress .indeterminate:before {
  content: "";
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395)
    infinite;
  animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
}

.progress .indeterminate:after {
  content: "";
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1)
    infinite;
  animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1)
    infinite;
  -webkit-animation-delay: 1.15s;
  animation-delay: 1.15s;
}

@keyframes indeterminate {
  0% {
    left: -35%;
    right: 100%;
  }

  60% {
    left: 100%;
    right: -90%;
  }

  100% {
    left: 100%;
    right: -90%;
  }
}

@keyframes indeterminate-short {
  0% {
    left: -200%;
    right: 100%;
  }

  60% {
    left: 107%;
    right: -8%;
  }

  100% {
    left: 107%;
    right: -8%;
  }
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50px;
  height: 50px;
  background: url("static/images/spinner.gif") no-repeat center;
  background-size: cover;
  display: none;
}

#aside {
  position: fixed;
  right: -200px;
  /* Start off the screen */
  width: 200px;
  height: 100%;
  background: #f9f9f9;
  transition: right 0.5s ease-in-out;
}

#aside.show {
  right: 0;
  /* Slide onto the screen */
}

#sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 30%;
  height: 100%;
  background-color: #f0f0f0;
  overflow-x: hidden;
  transition: 0.5s;
  padding: 20px;
  box-shadow: -1px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

#sidebar-content {
  display: none;
}

.open-sidebar #sidebar-content {
  display: block;
}
