/* Custom Timeline styles */
.tl-text h2.tl-headline {
    color: black !important;
    text-shadow: none !important;
    font-family: 'ProximaNovaBold' !important;
}

.tl-full-color-background .tl-text h3.tl-headline-date {
    color: black !important;
    text-shadow: none !important;
    font-family: 'ProximaNovaBold' !important;
}

.tl-full-color-background .tl-text p {
    color: black !important;
    text-shadow: none !important;
    font-family: 'ProximaNova' !important;
}

.tl-timegroup.tl-timegroup-alternate {
    background-color: #F4A876;
}

.tl-timegroup .tl-timegroup-message {
    text-shadow: none;
    color: black;
}

.tl-timegroup {
    background-color: #C7DDE2;
}

.tl-slidenav-previous .tl-slidenav-content-container.tl-slidenav-inverted .tl-slidenav-icon,
.tl-slidenav-next .tl-slidenav-content-container.tl-slidenav-inverted .tl-slidenav-icon,
.tl-slidenav-previous .tl-slidenav-content-container.tl-slidenav-inverted .tl-slidenav-title,
.tl-slidenav-next .tl-slidenav-content-container.tl-slidenav-inverted .tl-slidenav-title,
.tl-slidenav-previous .tl-slidenav-content-container.tl-slidenav-inverted .tl-slidenav-description,
.tl-slidenav-next .tl-slidenav-content-container.tl-slidenav-inverted .tl-slidenav-description {
    color: #000000;
    text-shadow: none;
}

.tl-slide.tl-full-color-background .tl-caption {
    color: #000000 !important;
    text-shadow: none !important;
}

.tl-slide.tl-full-color-background a {
    color: #000000 !important;
    text-shadow: none !important;
}