{% extends "postal/base.html" %}
{% block content %}
    <main class="container mx-auto py-8 prose">

        <h2 class="text-2xl pb-5">Mapping Postal Routes</h2>

        <p class="pb-3">This is a proof of concept mapping the postal data and routes that postal items take (sender, to postmark if available, to addressee). Postmarks are <span style="font-weight: bold; color: red">red</span>,  people are <span style="font-weight: bold; color: blue;">blue</span>, censors are in <span style="font-weight: bold; color: pink";>pink</span>.</p>

        <div id='map' width="100%" style='height:600px'></div>
        <script>
            mapboxgl.accessToken = "pk.eyJ1IjoiaGVwcGxlcmoiLCJhIjoiY2xwc3cyN3UyMDdlOTJqbTgwcmZjeWJuYSJ9.wmrR3E8vqsQb3Ml7v0HX-A";
            const map = new mapboxgl.Map({
                container: 'map',
                style: 'mapbox://styles/mapbox/streets-v10',
                zoom: 9
            });

            let coordinates = [];
            let features = [];
            let coords;
            let postmarkid = 0;
            {% for object in postal_objects %}
                {% for postmark in object.postmark.all %}
                    {% if postmark.location and postmark.location.longitude and postmark.location.latitude %}
                        coords = [{{ postmark.location.longitude }}, {{ postmark.location.latitude }}];
                        coordinates.push(coords);
                        features.push({
                            type: 'Feature',
                            properties: {
                                id: postmarkid, // assign an id to the postmark
                                sender_name: "{{ object.sender_name }}", // Include the sender_name property
                                postmark_location: "{{ postmark.location.town_city }}, {{ postmark.location.province_state }}, {{ postmark.location.country }}", // Include the postmark location
                                addressee_name: "{{ object.addressee_name }}" // Include the addressee_name property
                            },
                            geometry: {
                                type: 'Point',
                                coordinates: coords
                            }
                        });
                    {% else %}
                        // console.log('Invalid or missing coordinates for object: ', {{ object.id }});
                    {% endif %}
                {% endfor %}
                postmarkid++; // increment the id
            {% endfor %}

            // Add another loop for the Person model data
            let personCoords;
            let personFeatures = [];
            let personid = 0;
            {% for person in persons %}
                {% if person.longitude and person.latitude %}
                    personCoords = [{{ person.longitude }}, {{ person.latitude }}];
                    personFeatures.push({
                        type: 'Feature',
                        properties: {
                            id: personid // assign an id to the person
                        },
                        geometry: {
                            type: 'Point',
                            coordinates: personCoords
                        },
                        properties: {
                            firstName: "{{ person.first_name }}", // Include the first_name property
                            lastName: "{{ person.last_name }}" // Include the last_name property
                        }
                    });
                {% else %}
                    // console.log('Invalid or missing coordinates for person: ', {{ person.id }});
                {% endif %}
                personid++; // increment the id
            {% endfor %}

            // The following creates the data for the censored postal objects
            let censoredFeatures = [];
            let censoredCoords;
            let censorid = 0;

            {% for censor in censored_postal_objects %}
                {% if censor.censor_location %}
                    censoredCoords = [{{ censor.censor_location.longitude }}, {{ censor.censor_location.latitude }}];
                    censoredFeatures.push({
                        type: 'Feature',
                        properties: {
                            id: censorid, // assign an id to the postmark
                            censor_location: "{{ censor.location.town_city }}, {{ censor.location.province_state }}, {{ censor.location.country }}", // Include the postmark location
                        },
                        geometry: {
                            type: 'Point',
                            coordinates: censoredCoords
                        }
                    });
                {% else %}
                    console.log('Invalid or missing coordinates for censored object: ', {{ censor.censor_id }});
                {% endif %}
                censorid++; // increment the id
            {% endfor %}

            // ------------------------------------------------------------
            // The following loops through the postal objects and creates a route for each one
            // in order for us to show routes on a map. The routes are created using the Turf.js
            // library, which is included in the base.html template.
            let routes = [];
            let routeid = 0;
            let routeCoords;
            let startCoords;
            let endCoords;

            {% for object in postal_objects %}
                // Initialize startCoords with the sender's location
                {% if object.sender_name and object.sender_name.longitude and object.sender_name.latitude %}
                    startCoords = [{{ object.sender_name.longitude }}, {{ object.sender_name.latitude }}];
                {% endif %}

                // Add the locations of the associated postmarks to the route
                {% for postmark in object.postmark.all %}
                    {% if postmark.location and postmark.location.longitude and postmark.location.latitude %}
                        // Update endCoords with the postmark's location
                        endCoords = [{{ postmark.location.longitude }}, {{ postmark.location.latitude }}];

                        // Add the route from startCoords to endCoords to the routes array
                        routes.push({
                            type: 'Feature',
                            properties: {
                                id: routeid // assign an id to the route
                            },
                            geometry: {
                                type: 'LineString',
                                coordinates: [startCoords, endCoords]
                            }
                        });

                        // Update startCoords to be the postmark's location for the next route
                        startCoords = endCoords;
                    {% endif %}
                {% endfor %}

                // If mail passes through a censor, we record it. The field `regime_censor` should be "yes", 
                // and the regime_location field fk to Censor contains the location data. 
                {% if object.regime_censor == "yes" and object.regime_location %}
                    // Update endCoords with the censor's location
                    {% if object.regime_location.longitude and object.regime_location.latitude %}
                        endCoords = [{{ object.regime_location.longitude }}, {{ object.regime_location.latitude }}];
                    {% endif %}

                    // Add the route from startCoords to endCoords to the routes array
                    routes.push({
                        type: 'Feature',
                        properties: {
                            id: routeid // assign an id to the route
                        },
                        geometry: {
                            type: 'LineString',
                            coordinates: [startCoords, endCoords]
                        }
                    });

                    // Update startCoords to be the censor's location for the next route
                    startCoords = endCoords;
                {% endif %}

                // Add the addressee's location to the route
                {% if object.addressee_name.longitude and object.addressee_name.latitude %}
                    {% if object.regime_censor == "yes" and object.regime_location %}
                        // If the mail passed through a censor, we already have the censor's location in endCoords
                        // and we don't need to update it.
                    {% else %}
                        // If the mail did not pass through a censor, we need to update endCoords with the addressee's location
                        endCoords = [{{ object.addressee_name.longitude }}, {{ object.addressee_name.latitude }}];
                    {% endif %}

                    // Add the route from startCoords to endCoords to the routes array
                    routes.push({
                        type: 'Feature',
                        properties: {
                            id: routeid // assign an id to the route
                        },
                        geometry: {
                            type: 'LineString',
                            coordinates: [startCoords, endCoords]
                        }
                    });
                {% endif %}

                // Add the route to the routes array
                if (startCoords !== undefined && endCoords !== undefined) {
                    routes.push({
                        type: 'Feature',
                        properties: {
                            id: routeid // assign an id to the route
                        },
                        geometry: {
                            type: 'LineString',
                            coordinates: [startCoords, endCoords]
                        }
                    });

                    routeid++; // increment the id
                }
                // console.log('routeCoords for object ' + {{ object.id }} + ':', routeCoords); // Log the routeCoords array
            {% endfor %}

            console.log('routes', routes)


            map.on('load', function () {
                map.addSource('postmarks', {
                    type: 'geojson',
                    data: {
                        type: 'FeatureCollection',
                        features: features
                    }
                });

                map.addSource('persons', {
                    type: 'geojson',
                    data: {
                        type: 'FeatureCollection',
                        features: personFeatures
                    }
                });

                map.addSource('routes', {
                    type: 'geojson',
                    data: {
                        type: 'FeatureCollection',
                        features: routes
                    }
                });

                // Add a new layer for the routes
                map.addLayer({
                    id: 'routes',
                    type: 'line',
                    source: 'routes',
                    layout: {
                        'line-join': 'round',
                        'line-cap': 'round'
                    },
                    paint: {
                        'line-color': '#888',
                        'line-width': 2,
                        'line-opacity': 0.4
                    }
                });

                map.addLayer({
                    id: 'postmarks',
                    type: 'circle',
                    source: 'postmarks',
                    paint: {
                        'circle-radius': 6,
                        'circle-color': 'red',
                        'circle-opacity': 0.8
                    }
                });

                map.addLayer({
                    id: 'persons',
                    type: 'circle',
                    source: 'persons',
                    paint: {
                        'circle-radius': 6,
                        'circle-color': 'blue',
                        'circle-opacity': 0.8
                    }
                });

                map.addLayer({
                    id: 'censored',
                    type: 'circle',
                    source: {
                        type: 'geojson',
                        data: {
                            type: 'FeatureCollection',
                            features: censoredFeatures
                        }
                    },
                    paint: {
                        'circle-radius': 6,
                        'circle-color': 'pink',
                        'circle-opacity': 0.8
                    }
                })
            });

            // Add an onclick event to the persons layer
            map.on('click', 'persons', function (e) {
                const coordinates = e.features[0].geometry.coordinates.slice();
                const firstName = e.features[0].properties.firstName;
                const lastName = e.features[0].properties.lastName;

                new mapboxgl.Popup()
                    .setLngLat(coordinates)
                    .setHTML('<h3>' + firstName + ' ' + lastName + '</h3>')
                    .addTo(map);
            });

            // Add an onclick event to the postmarks layer
            map.on('click', 'postmarks', function (e) {
                const coordinates = e.features[0].geometry.coordinates.slice();
                const senderName = e.features[0].properties.sender_name;
                const addresseeName = e.features[0].properties.addressee_name;

                new mapboxgl.Popup()
                    .setLngLat(coordinates)
                    .setHTML('<h3>Sender: ' + senderName + '</h3><p>Addressee: ' + addresseeName + '</p>')
                    .addTo(map);
            });

            // Change the cursor to a pointer when the mouse is over the persons layer
            map.on('mouseenter', 'persons', function () {
                map.getCanvas().style.cursor = 'pointer';
            });

            // Change it back to a pointer when it leaves
            map.on('mouseleave', 'persons', function () {
                map.getCanvas().style.cursor = '';
            });

            // When the mouse enters a postmark or person, increase the line's opacity
            map.on('mouseenter', 'postmarks', function (e) {
                map.setFilter('routes', ['==', 'id', e.features[0].properties.id]);
                map.setPaintProperty('routes', 'line-opacity', 1);
            });
            map.on('mouseenter', 'persons', function (e) {
                map.setFilter('routes', ['==', 'id', e.features[0].properties.id]);
                map.setPaintProperty('routes', 'line-opacity', 1);
            });

            // When the mouse leaves a postmark or person, reset the line's opacity
            map.on('mouseleave', 'postmarks', function (e) {
                map.setFilter('routes', null);
                map.setPaintProperty('routes', 'line-opacity', 0.2);
            });
            map.on('mouseleave', 'persons', function (e) {
                map.setFilter('routes', null);
                map.setPaintProperty('routes', 'line-opacity', 0.2);
            });

            if (coordinates.length > 0) {
                let bounds = coordinates.reduce(function(bounds, coord) {
                    return bounds.extend(coord);
                }, new mapboxgl.LngLatBounds(coordinates[0], coordinates[0]));

                map.fitBounds(bounds, {padding: 20});
            }

        </script>

    </main>
{% endblock content %}