{% extends "postal/base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
  <aside id="sidebar" x-data="{ open: false, postalObject: null }" :class="{ 'open': open }" x-init="window.sidebarComponent = $data">
    <div x-show="open" x-transition>
      <button x-on:click="open = false">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-8" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M11 17l-5-5m0 0l5-5m-5 5h12" />
        </svg>
      </button>

      <div id="sidebar-content" class="scrollable-content">
        <template x-if="postalObject">
          <template x-if="postalObject.length > 0">
            <template x-for="postalObjectItem in postalObject" :key="postalObjectItem.person_id">
              <div class="postal-object">
                <h3>Postal Material Information</h3>
                <p x-text="'Sender Name: ' + postalObjectItem.sender_name__first_name + ' ' + postalObjectItem.sender_name__last_name"></p>
                <p x-text="'Addressee Name: ' + postalObjectItem.addressee_name__first_name + ' ' + postalObjectItem.addressee_name__last_name"></p>
                <template x-if="postalObjectItem.date_of_correspondence">
                  <p x-text="'Date of Correspondence: ' + postalObjectItem.date_of_correspondence"></p>
                </template>
                <p x-text="'Return to Sender: ' + postalObjectItem.return_to_sender"></p>
                <p x-text="'Regime Censor: ' + postalObjectItem.regime_censor"></p>
                <p x-text="'Public Notes: ' + postalObjectItem.public_notes"></p>
                <h2>Documents</h2>
                <template x-for="image in postalObjectItem.images" :key="image.image">
                  <div>
                    <img :src="'http://localhost:8000' + image.image" alt="Image">
                    <p x-text="image.image_caption"></p>
                    <a :href="'/postal/' + postalObjectItem.id + '/view'">View Item</a>
                  </div>
                </template>
              </div>
            </template>
          </template>
          <template x-if="postalObject.length === 0">
            <p>No postal objects found for this person.</p>
          </template>
        </template>
      </div>
    </div>
  </aside>
  <main class="container mx-auto py-8 prose">

    <h2 class="text-2xl pb-5">Mapping Postal Routes</h2>

    <p class="pb-3">This is a proof of concept mapping the postal data and routes that postal items take (sender, to postmark if available, to addressee). Postmarks are <span style="font-weight: bold; color: red">red</span>,  people are <span style="font-weight: bold; color: blue;">blue</span>, censors are in <span style="font-weight: bold; color: pink";>pink</span>.</p>

    <div x-data="{ isOpen: true }" class="accordion">
      <button @click="isOpen = !isOpen" class="accordion-header">
        Filter Data
      </button>
      <div x-show="isOpen" class="accordion-panel">
        <form hx-get="/maps" hx-target="#map">
          {{ form.as_p }}
          <input type="submit" value="Filter data">
        </form>
      </div>
    </div>

    <div id="loading"><span class="spinner"></span></div>
    <div id='map' width="100%" style='height:600px'></div>
    <script src="/static/js/map_interface.js"></script>

  </main>
{% endblock content %}
