{% extends "postal/base.html" %}

{% block title %}About{% endblock title %}

{% block content %}
    <h1 class="text-4xl">This is our about page.</h1>

    <p class="text-lg">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae imperdiet magna. Vestibulum fermentum hendrerit tellus, vel pretium justo. Sed quis tempor nisl. Fusce auctor dolor nec est tincidunt, non aliquet elit malesuada. Nulla facilisi. Cras facilisis metus in magna feugiat, vel volutpat ligula venenatis. Donec euismod, nisl eget aliquam ultricies, nunc nisl aliquet nunc, eget aliquam nisl nunc eget nunc. Nulla facilisi. Sed euismod, nisl eget aliquam ultricies, nunc nisl aliquet nunc, eget aliquam nisl nunc eget nunc. Nulla facilisi. Sed euismod, nisl eget aliquam ultricies, nunc nisl aliquet nunc, eget aliquam nisl nunc eget nunc. Nulla facilisi. Sed euismod, nisl eget aliquam ultricies, nunc nisl aliquet nunc, eget aliquam nisl nunc eget nunc. Nulla facilisi. Sed euismod, nisl eget aliquam ultricies, nunc nisl aliquet nunc, eget aliquam nisl nunc eget nunc.</p>
{% endblock content %}
