{% extends "postal/base.html" %}

{% block title %}About the Arnhem Postal History Project{% endblock title %}

{% block content %}
    <h1>About the Arnhem Postal History Project</h1>

    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae imperdiet magna. Vestibulum fermentum hendrerit tellus, vel pretium justo. Sed quis tempor nisl. Fusce auctor dolor nec est tincidunt, non aliquet elit malesuada. Nulla facilisi. Cras facilisis metus in magna feugiat, vel volutpat ligula venenatis. Donec euismod, nisl eget aliquam ultricies, nunc nisl aliquet nunc, eget aliquam nisl nunc eget nunc. Nulla facilisi. Sed euismod, nisl eget aliquam ultricies, nunc nisl aliquet nunc, eget aliquam nisl nunc eget nunc. Nulla facilisi. Sed euismod, nisl eget aliquam ultricies, nunc nisl aliquet nunc, eget aliquam nisl nunc eget nunc. Nulla facilisi. Sed euismod, nisl eget aliquam ultricies, nunc nisl aliquet nunc, eget aliquam nisl nunc eget nunc. Nulla facilisi. Sed euismod, nisl eget aliquam ultricies, nunc nisl aliquet nunc, eget aliquam nisl nunc eget nunc.</p>

    <h2>Project Team</h2>
    <ul>
        <li>Tim Gale, primary investigator</li>
        <li>Jason Heppler, web developer</li>
        <li>Kristin Jacobsen, project manager</li>
        <li>Amanda Madden, project lead</li>
        <li>Susie Nguyen, designer</li>
        <li>etc.</li>
    </ul>
{% endblock content %}
