<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Arnhem Postal History Project</title>
        <!-- boostrap core -->
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/custom.css' %}">

        <!-- fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Figtree:wght@300;400&family=Playfair+Display:wght@400;700&display=swap"
            rel="stylesheet">
    </head>
    <body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

              <!-- Navigation -->
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'index' %}"> <img src="{% static 'images/logo.png' %}" width="144" height="72" alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'about' %}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'exhibits' }">Exhibits</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'maps' %}">Map</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'timeline' %}">Timeline</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'table' %}">Database</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Resources</a>
                        </li>
                        <select class="form-select" aria-label="language">
                            <option selected><span class="fi fi-gr">English</option>
                                <option value="1">Dutch</option>
                            </select>
                        </ul>
                    </div>
                </div>
            </nav>

    <!-- Main Content -->
            {% if request.path == '/' %}
                {% include 'postal/index_hero.html' %}
            {% endif %}

            <main class="container end-row-indent">
                {% block content %}{% endblock content %}
                {% block main %}{% endblock main %}
            </main>

    <!-- Footer -->
            <footer>
                <div class="container">
                    <div>
                        <p>&copy; 2024 ARNHEM POSTAL HISTORY PROJECT. All rights reserved.</p>
                        <a href="#">Privacy Policy</a>
                        <a href="#">Takedown Policy</a>
                        <a href="#">Statement on Harmful Content</a>
                    </div>
                    <div>
                        <a href="#">Accessibility</a>
                        <a href="#">Contact</a>
                    </div>
                </div>
            </footer>


            <script src="{% static 'js/alpine.min.js' %}" defer></script>
            <script src='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
            <link href='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />
            <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
            <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>    </head>
    </body>
</html>

