{% extends "postal/base.html" %}
{% load static %}

{% block extracss %}
{% if request.path == '/exhibits/boa/' %}
<link rel="stylesheet" type="text/css" href="{% static 'css/exhibit_individual_pages.css' %}">
{% endif %}
{% endblock %}

{% block title %}Battle of Arnhem{% endblock title %}
{% block content %}

<div class="row add-exhibit-padding new-row-indent">
    <div class="col-lg-3 col-md-12 col-sm-12">
        <div class="list-group sticky-top">
            <li class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">CONTENTS
            </li>
            <a href="{% url 'battle_of_arnhem' %}#false-hope" class="list-group-item list-group-item-action"
                aria-current="true" onclick="makeActive(event)">
                False Hope
            </a>
            <a href="{% url 'battle_of_arnhem' %}#allied-forces" class="list-group-item list-group-item-action"
                onclick="makeActive(event)">Allied Forces</a>
            <a href="{% url 'battle_of_arnhem' %}#german-forces" class="list-group-item list-group-item-action"
                onclick="makeActive(event)"> German Forces </a>
            <a href="{% url 'battle_of_arnhem_2' %}#mad-tuesday" class="list-group-item list-group-item-action"
                onclick="makeActive(event)">
                Mad Tuesday: 5 September 1944</a>
            <a href="{% url 'battle_of_arnhem_2' %}#allied-advance" class="list-group-item list-group-item-action"
                onclick="makeActive(event)">Allied Advance</a>
            <a href="{% url 'battle_of_arnhem_2' %}#battle-of-arnhem" class="list-group-item list-group-item-action"
                onclick="makeActive(event)">The Battle of Arnhem</a>
            <a href="{% url 'battle_of_arnhem_3' %}#impact-on-civilian" class="list-group-item list-group-item-action"
                onclick="makeActive(event)"> Impact on Civilian
                Life</a>
            <a href="{% url 'battle_of_arnhem_3' %}#allied-losses" class="list-group-item list-group-item-action"
                onclick="makeActive(event)">Allied Losses</a>
            <a href="{% url 'battle_of_arnhem_3' %}#german-opposition" class="list-group-item list-group-item-action"
                onclick="makeActive(event)"> German Opposition </a>
            <a href="{% url 'battle_of_arnhem_4' %}#allied-losses" class="list-group-item list-group-item-action"
                onclick="makeActive(event)">Allied Losses</a>
            <a href="{% url 'battle_of_arnhem_4' %}#SS-Panzer" class="list-group-item list-group-item-action"
                onclick="makeActive(event)">10. SS Panzer Division 'Frundsberg'</a>
            <a href="{% url 'battle_of_arnhem_5' %}#mail-en-route" class="list-group-item list-group-item-action"
                onclick="makeActive(event)"> Mail En Route During the Fighting
            </a>
            <a href="{% url 'battle_of_arnhem_5' %}#armee" class="list-group-item list-group-item-action"
                onclick="makeActive(event)"> 1. Fallschirm-Armee (1st Parachute Army)
            </a>
            <a href="{% url 'battle_of_arnhem_6' %}#impact-on-civilian" class="list-group-item list-group-item-action"
                onclick="makeActive(event)"> Impact on Civilian
                Life</a>
            <a href="{% url 'battle_of_arnhem_6' %}#severed-connection" class="list-group-item list-group-item-action"
                onclick="makeActive(event)">
                Severed Connection - Returned Mail
            </a>
            <a href="{% url 'battle_of_arnhem_7' %}#aftermath" class="list-group-item list-group-item-action"
                onclick="makeActive(event)">
                Aftermath
            </a>
            <a href="{% url 'battle_of_arnhem_7' %}#evacuees" class="list-group-item list-group-item-action"
                onclick="makeActive(event)">
                Evacuees
            </a>
            <a href="{% url 'battle_of_arnhem_8' %}#uberoller" class="list-group-item list-group-item-action"
                onclick="makeActive(event)">
                Delayed Delivery - Überroller
            </a>
            <a href="{% url 'battle_of_arnhem_9' %}#prisoner-war" class="list-group-item list-group-item-action"
                onclick="makeActive(event)">
                Prisoner of War Mail
            </a>
            <a href="{% url 'battle_of_arnhem_9' %}dutch-resistance" class="list-group-item list-group-item-action"
                onclick="makeActive(event)">
                Dutch Resistance
            </a>
            <a href="{% url 'battle_of_arnhem_10' %}#role-cross" class="list-group-item list-group-item-action"
                onclick="makeActive(event)">
                Role of the Red Cross
            </a>
            <a href="{% url 'battle_of_arnhem_10' %}#cross-tracing" class="list-group-item list-group-item-action"
                onclick="makeActive(event)">
                German Red Cross Tracing Service
            </a>
            <a href="{% url 'battle_of_arnhem_11' %}" class="list-group-item list-group-item-action"
                onclick="makeActive(event)">
                Lasting Thanks
            </a>
        </div>
    </div>

    <!-- exhibit content -->
    <div class="col-lg-9 col-md-12 col-sm-12">
        <!-- False Hope and Lasting Thanks -->
        <a name="false-hope"></a>
        <div class="row end-row-indent-sm">
            <div class="col-lg-12">
                <h1> 17-25 September 1944 <br> False Hope and Lasting Thanks </h1>
            </div>
        </div>

        <div class="row end-row-indent-sm">
            <div class="col-lg-12">
                <p>On 6 June 1944, Operation Overlord saw Allied forces engage in the largest amphibious invasion in
                    history. By June 30, over 850,000 men had landed on the Normandy shores and the Allies had begun to
                    steadily move northwards. By the end of August, German forces had withdrawn across France and the
                    Low Countries towards the German border. </p>
                <p>On 17 September, the First Allied Airborne Army and XXX Corps of the Second British Army launched
                    Operation Market Garden, the largest airborne operation of the war. Its objective was the creation
                    of a bridgehead, stretching from the Belgian border and over the Rhine River, a distance of 64 mi
                    (103 Km), thereby providing a route into Northern Germany. U.S. and British airborne forces were to
                    simultaneously capture and hold 9 bridges across 6 major waterways while XXX Corps would swiftly
                    follow overland and secure the invasion route. </p>
            </div>

            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <figure class="figure">
                    <img src="{% static 'images/battle-of-arnhem/Paratroopers landing in Holland.png' %}"
                        class="img-fluid">
                    <figcaption class="figure-caption">Paratroopers landing in Holland</figcaption>
                </figure>
                <figure class="figure">
                    <img src="{% static 'images/battle-of-arnhem/XVIHaarlem091644_Front.jpg' %}" class="img-fluid">
                    <figcaption class="figure-caption">Haarlem (North Holland) – Arnhem (Gelderland), 16 September 1944
                    </figcaption>
                    <figcaption class="figure-caption unbold">Label: <span class="bolded">“Return (to) sender Haarlem /
                            Postal connection
                            with the place / of destination severed."</span> Domestic postcard rate: 5 cents (from 20
                        August, 1940)
                    </figcaption>
                </figure>
                <figure class="figure">
                    <img src="{% static 'images/battle-of-arnhem/Aerial reconnaissance photo.png' %}" class="img-fluid">
                    <figcaption class="figure-caption">Aerial reconnaissance photo of the Arnhem road bridge taken on 19
                        September 1944
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-2"></div>

            <div class="col-lg-12">
                <p>The plan of action consisted of two operations: <br>
                    <span class="bolded">Market</span>: Airborne forces of the First Allied Airborne Army to seize
                    bridges and other terrain, under
                    tactical command of Lieutenant General Frederick “Boy” Browning, and <br>
                    <span class="bolded">Garden</span>: Ground forces of the
                    Second Army to move north spearheaded by XXX Corps under Lieutenant-General Brian Horrocks. The
                    first elements of the British 1st Airborne Division landed at midday on 17 September 1944, some 8
                    miles (13 km) from its objectives. At first the troops made excellent progress, being welcomed as
                    liberators by the jubilant Dutch civilians. However, its advance towards the road and railway
                    bridges was soon hampered by unexpected resistance, especially from elements of the 9th and 10th SS
                    Panzer Divisions.
                </p>

                <p>The first elements of the British 1st Airborne Division landed at midday on 17 September 1944, some 8
                    miles (13 km) from its objectives. At first the troops made excellent progress, being welcomed as
                    liberators by the jubilant Dutch civilians. However, its advance towards the road and railway
                    bridges was soon hampered by unexpected resistance, especially from elements of the 9th and 10th SS
                    Panzer Divisions. </p>
            </div>

            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <figure class="figure">
                    <img src="{% static 'images/battle-of-arnhem/Early ParaWings.png' %}" class="img-fluid">
                    <figcaption class="figure-caption">Early Para Wings</figcaption>
                </figure>
            </div>
            <div class="col-lg-3"></div>

            <div class="col-lg-12">
                <p>Only a small force of approximately 750 men was able to reach the Arnhem road bridge, while the
                    Germans were able to blow up the railway bridge before it could be captured. The main body of the
                    division was stopped on the outskirts of the town. XXX Corps was unable to advance north from
                    Nijmegen as quickly as planned and after four days, the small British force at the bridge was
                    overwhelmed and what was left of the division became trapped in a small pocket in the village of
                    Oosterbeek, just north of the river. After nine days of fighting, the remnants of the division were
                    withdrawn across the Rhine in Operation Berlin.
                </p>

                <p>The 1st Airborne Division lost nearly three quarters of its strength and did not see combat again.
                    The Allies were unable to advance further with no secure bridges over the Rhine and the front line
                    stabilized south of Arnhem, extending the war in the North of Holland for another 8 months. This
                    split between north and south severed postal and other connections. Despite its defeat, the enduring
                    battle of the British 1st Airborne Division at Arnhem has become the stuff of legends and the
                    subject of numerous books, as well as the popular film “A Bridge Too Far.” </p>
            </div>

            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <figure class="figure">
                    <img src="{% static 'images/battle-of-arnhem/Enschede (Overijssel).jpg' %}" class="img-fluid">
                    <figcaption class="figure-caption">Enschede (Overijssel) – Arnhem (GL), 16 September 1944
                    </figcaption>
                    <figcaption class="figure-caption unbold">Returned to Enschede with the handstamp: <span
                            class="bolded">“Postal traffic
                            obstructed / Return Sender"</span> Domestic printed matter rate: 1½ cents per 50g (from 1
                        February,
                        1928)</figcaption>
                </figure>
            </div>
            <div class="col-lg-3"></div>
        </div>
        <!-- End False Hope and Lasting Thanks -->

        <!-- Allied Forces -->
        <div class="row new-row-indent">
            <a name="allied-forces"></a>
            <div class="col-lg-12">
                <h1 class="end-row-indent-sm"> Allied Forces </h1>
                <p> Although most Allied commanders favored a broad front policy to continue the advance into
                    Germany, Field Marshal Bernard Montgomery approached General Dwight “Ike” Eisenhower, supreme
                    commander of Allied forces in western Europe, with an uncharacteristically bold plan to head north
                    through Holland on a narrow front, bypassing the German Siegfried Line and opening a route into the
                    Ruhr, the industrial heartland of Germany. If successful, the plan would open a “back door” to
                    Germany and hopefully force an end to the war in Europe by year’s end.
                </p>
            </div>

            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <figure class="figure">
                    <img src="{% static 'images/battle-of-arnhem/Undated letter from General Dwight.png' %}"
                        class="img-fluid">
                    <figcaption class="figure-caption">Undated letter from General Dwight “Ike” Eisenhower to his wife,
                        Mamie. Sent from “HEADQUARTERS, United States Army Forces in the British Isles. </figcaption>
                </figure>
            </div>
            <div class="col-lg-3"></div>

            <div class="col-lg-12">
                <p> Initially proposed as a British and Polish operation codenamed Operation Comet, the plan soon
                    expanded to include most of the First Allied Airborne Army with a simultaneous ground advance into
                    the Netherlands by the British Second Army, led by <span class="bolded">XXX Corps</span> under <span
                        class="bolded">Lieutenant-General Brian Horrocks</span>.
                    The plan was codenamed Operation Market Garden. Lieutenant - <span class="bolded">General Frederick
                        “Boy” Browning</span> was given overall command of the airborne operation.
                </p>
            </div>

            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <figure class="figure">
                    <img src="{% static 'images/battle-of-arnhem/Field Marshall Montgomery.png' %}" class="img-fluid">
                    <figcaption class="figure-caption"> Field Marshall Montgomery, Lieutenant General “Boy” Browning and
                        Major General Roy Urquhart </figcaption>
                </figure>
            </div>
            <div class="col-lg-3"></div>

            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <figure class="figure">
                    <img src="{% static 'images/battle-of-arnhem/Postwar (30 June 1971) letter.png' %}"
                        class="img-fluid">
                    <figcaption class="figure-caption"> Postwar (30 June 1971) letter from Gen Jim Gavin, in which he
                        discusses tactics of Gen Patton and Field Marshall Montgomery. </figcaption>
                </figure>
            </div>
            <div class="col-lg-3"></div>

            <div class="col-lg-12">
                <p> Montgomery’s plan required the seizure of several bridges across the Maas, the Waal and
                    the Nederrijn (Lower Rhine) rivers, as well as several smaller canals. The U.S. 101st Airborne,
                    under Major General Maxwell Taylor, would drop just north of Eindhoven, capturing the bridges at Son
                    and Veghel, while the 82nd Airborne, under Brigadier General James Gavin, would drop northeast of
                    them to take the bridges at Grave and Nijmegen.
                </p>

                <p>The task of securing the road, rail and pontoon bridges over the Nederrijn at Arnhem fell to the 1st
                    Airborne Division under the command of MajorGeneral Roy Urquhart, with the Polish 1st Independent
                    Parachute Brigade attached, under Major General Stanislaw Sosabowski. The division was made up of
                    three brigades of infantry (two parachute, one glider-borne), supported by Royal Engineer units,
                    artillery of the 1st Airlanding Light Regiment, and elements of the Royal Army Service
                    Corps and Royal Army Medical Corps. While most of the division had seen action in North
                    Africa and Sicily, particularly the 1st Parachute Brigade and 1st Airlanding Brigade, this was the
                    first time that the division had fought as a complete formation.  This force was also supported by
                    some 1,200 men of the Glider Pilot Regiment, who would fly the glider-borne infantry and vehicles
                    into Arnhem, providing the equivalent of two battalions of infantry. </p>
            </div>

            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <figure class="figure">
                    <img src="{% static 'images/battle-of-arnhem/Eisenhower and Montgomery.png' %}" class="img-fluid">
                    <figcaption class="figure-caption"> Original Dutch postcard showing Eisenhower and Montgomery
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-3"></div>

            <div class="col-lg-12">
                <p> From the beginning Urquhart was severely constrained in his planning for the operation. US IX Troop
                    Carrier Command, under Major General Paul Williams, would not land all the airborne troops at one
                    time, having decided that it would only be possible to fly one air lift per day. This meant that it
                    would take three days to deliver the entire division. Few areas were suitable for glider landings
                    and Gen Williams was reluctant to send his aircraft too close to Arnhem, concerned by anti-aircraft
                    flak from nearby Deelen airfield. Urquhart was forced to pick drop zones (DZ) and landing zones (LZ)
                    up to 8 mi (13 km) from Arnhem, on the north side of the river. With the need to secure the bridges,
                    towns and drop zones for subsequent supply drops, the 1st Airborne would need to defend a perimeter
                    18 mi (29 km) long whilst waiting for XXX Corps. This was to prove a daunting task.
                </p>
            </div>
        </div>
        <!-- End Allied Forces -->

        <!-- German Forces -->
        <div class="row new-row-indent">
            <a name="german-forces"></a>
            <div class="col-lg-12">
                <h1 class="end-row-indent-sm"> German Forces</h1>
                <p> Although most Allied commanders favored a broad front policy to continue the advance into
                    Germany, Field Marshal Bernard Montgomery approached General Dwight “Ike” Eisenhower, supreme
                    commander of Allied forces in western Europe, with an uncharacteristically bold plan to head north
                    through Holland on a narrow front, bypassing the German Siegfried Line and opening a route into the
                    Ruhr, the industrial heartland of Germany. If successful, the plan would open a “back door” to
                    Germany and hopefully force an end to the war in Europe by year's end. </p>
                <p> In early September, the II SS Panzer Corps, under the command of Obergruppenführer Wilhelm Bittrich
                    had moved into the area north of Arnhem to refit and reorganize. It comprised the remains of
                    the 9th SS Panzer Division Hohenstaufen, under the command of Standartenführer Walter Harzer and
                    the 10th SS Panzer Division Frundsberg under Brigadeführer Heinz Harmel. Although badly mauled in
                    Normandy, the corps was made up of veterans and had significantly more forces available than the
                    Allies had been led to expect. The divisions were also specially trained in antiairborne operations.
                    The exact number of men who were available after the withdrawal from Normandy is unclear, with
                    estimates ranging from 6,000 to 10,000 men. </p>
            </div>

            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <figure class="figure">
                    <img src="{% static 'images/battle-of-arnhem/Brigadeführer Heinz Harmel.png' %}" class="img-fluid">
                    <figcaption class="figure-caption">Original signed (post-war) photo - Brigadeführer Heinz Harmel in
                        Arnhem</figcaption>
                </figure>
            </div>
            <div class="col-lg-3"></div>

            <div class="col-lg-12">
                <p>After the battle, Harmel received the Knight's Cross with Oak Leaves and Swords on 15 December 1944,
                    while Harzer was awarded the Knight's Cross for his actions during the battle.</p>
            </div>

            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <figure class="figure">
                    <img src="{% static 'images/battle-of-arnhem/General Friedrich Christiansen.png' %}"
                        class="img-fluid">
                    <figcaption class="figure-caption">General Friedrich Christiansen commanded the Wehrmacht in
                        occupied Netherlands. Original signed photograph (1942)</figcaption>
                </figure>
            </div>
            <div class="col-lg-3"></div>

            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <figure class="figure">
                    <img src="{% static 'images/battle-of-arnhem/Generalfeldmarschall Model and Obergruppenführer.png' %}"
                        class="img-fluid">
                    <figcaption class="figure-caption">Generalfeldmarschall Model and Obergruppenführer Bittrich in
                        Arnhem, Sept. 1944</figcaption>
                </figure>
            </div>
            <div class="col-lg-3"></div>

            <div class="col-lg-3">
                <figure class="figure">
                    <img src="{% static 'images/battle-of-arnhem/SS Sturmbannführer Sepp Krafft.png' %}"
                        class="img-fluid">
                    <figcaption class="figure-caption">SS Sturmbannführer Sepp Krafft</figcaption>
                </figure>
            </div>
            <div class="col-lg-9">
                <p>To the west of Arnhem was Kampfgruppe Von Tettau, a force equivalent to seven battalions made up of
                    all manner of German units (including Luftwaffe, Kriegsmarine, rear echelon and Waffen-SS troops)
                    under the command of General Hans von Tettau. This included the SS NonCommissioned Officer
                    School SS Arnheim and the 16th SS Training Battalion under the command of SS Sturmbannführer Sepp
                    Krafft, whose unit would play a crucial role in the opening phases of the battle. Within Arnhem
                    itself, the town garrison was under the command of Major-General Friedrich Kussin, who was killed by
                    members of B Company, 3ʳᵈ Parachute Battalion on the first day of the battle.</p>
                <p>As the battle progressed, more and more forces would become available to the Germans. Adolf Hitler,
                    stunned by the attack, agreed that the defense of the Netherlands should receive priority, and
                    reinforcements streamed in. Model arranged for units to be sent straight into action with German
                    military strength increasing each day of the battle, whilst the British strength diminished. By 21
                    September, the fifth day of the battle, German forces outnumbered the British by 3:1. </p>
            </div>

            <div class="col-lg-2"></div>
            <div class="col-lg-4">
                <figure class="figure">
                    <img src="{% static 'images/battle-of-arnhem/Field Marshall Rundstedt.png' %}" class="img-fluid">
                    <figcaption class="figure-caption">Field Marshall Rundstedt - Time Magazine 21 August 1944</figcaption>
                </figure>
            </div>
            <div class="col-lg-4">
                <figure class="figure">
                    <img src="{% static 'images/battle-of-arnhem/Rare handwritten letter by Generalfeldmarschall.png' %}"
                        class="img-fluid">
                    <figcaption class="figure-caption">Rare handwritten letter by Generalfeldmarschall Model, dated 16
                        October 1940</figcaption>
                </figure>
            </div>
            <div class="col-lg-2"></div>
            <div class="end-row-indent-sm"></div>

        </div>
        <!-- End German Forces -->

        <nav aria-label="Page navigation example" class="pagination-nav">
            <ul class="pagination justify-content-center">
                <li class="page-item active"><a class="page-link" href="{% url 'battle_of_arnhem' %}">1</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'battle_of_arnhem_2' %}">2</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'battle_of_arnhem_3' %}">3</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'battle_of_arnhem_4' %}">4</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'battle_of_arnhem_5' %}">5</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'battle_of_arnhem_6' %}">6</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'battle_of_arnhem_7' %}">7</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'battle_of_arnhem_8' %}">8</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'battle_of_arnhem_9' %}">9</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'battle_of_arnhem_10' %}">10</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'battle_of_arnhem_11' %}">11</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'battle_of_arnhem_2' %}">Next</a></li>
            </ul>
        </nav>

    </div>
    <!-- end exhibit content -->
</div>


{% endblock content %}