{% extends "postal/base.html" %}
{% load static %}

{% block extracss %}
{% if request.path == '/exhibits/boa/' %}
<link rel="stylesheet" type="text/css" href="{% static 'css/exhibit_individual_pages.css' %}">
{% endif %}
{% endblock %}

{% block title %}Battle of Arnhem{% endblock title %}
{% block content %}

<div class="row add-exhibit-padding new-row-indent">
    <div class="col-lg-3 col-md-12 col-sm-12">
        <div class="list-group sticky-top">
            <li class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">CONTENTS
            </li>
            <a href="{% url 'evolution_of_holocaust' %}#evolution-of-holocaust"
                class="list-group-item list-group-item-action" aria-current="true" onclick="makeActive(event)">
                Evolution of Holocaust in Holland
            </a>
            <a href="{% url 'evolution_of_holocaust' %}#pre-war" class="list-group-item list-group-item-action"
                onclick="makeActive(event)">Pre-War
                Refugee Camps</a>
            <a href="{% url 'evolution_of_holocaust' %}#central-refugee-transit"
                class="list-group-item list-group-item-action" onclick="makeActive(event)"> Central
                Refugee/Transit Camp Westerbork</a>
            <a href="{% url 'evolution_of_holocaust_2' %}#camp-westerbork"
                class="list-group-item list-group-item-action" onclick="makeActive(event)">
                Central Refugee Camp Westerbork</a>
            <a href="{% url 'evolution_of_holocaust_2' %}#civil-internment"
                class="list-group-item list-group-item-action" onclick="makeActive(event)"> Civil Internment
                Camps</a>
            <a href="{% url 'evolution_of_holocaust_3' %}#camp-amersfoort"
                class="list-group-item list-group-item-action" onclick="makeActive(event)"> Concentration
                Camp Amersfoort</a>
            <a href="{% url 'evolution_of_holocaust_3' %}#camp-vught" class="list-group-item list-group-item-action"
                onclick="makeActive(event)">Concentration
                Camp Vught </a>
            <a href="{% url 'evolution_of_holocaust_3' %}#gestapo-prison" class="list-group-item list-group-item-action"
                onclick="makeActive(event)"> Gestapo Prison
                Scheveningen </a>
            <a href="{% url 'evolution_of_holocaust_3' %}#german-investigation"
                class="list-group-item list-group-item-action" onclick="makeActive(event)"> German
                Investigation and Punishment Prison - Utrecht
            </a>
            <a href="{% url 'evolution_of_holocaust_4' %}" class="list-group-item list-group-item-action"
                onclick="makeActive(event)"> Transit Camp
                Westerbork
            </a>
            <a href="{% url 'evolution_of_holocaust_8' %}#german-concentration"
                class="list-group-item list-group-item-action" onclick="makeActive(event)">
                German Concentration Camp Mail
            </a>
            <a href="{% url 'evolution_of_holocaust_9' %}#post-war" class="list-group-item list-group-item-action"
                onclick="makeActive(event)">
                Post War Enquiries
            </a>
        </div>
    </div>

    <!-- exhibit content -->
    <div class="col-lg-9 col-md-12 col-sm-12">
        <!-- Central Refugee Camp Westerbork -->
        <a name="camp-westerbork"></a>
        <div class="row end-row-indent-sm">
            <div class="col-lg-12">
                <h1> 17-25 September 1944 <br> False Hope and Lasting Thanks </h1>
            </div>
        </div>

        <div class="row end-row-indent-sm">
            <div class="col-lg-12">
                <p>On 6 June 1944, Operation Overlord saw Allied forces engage in the largest amphibious invasion in
                    history. By June 30, over 850,000 men had landed on the Normandy shores and the Allies had begun to
                    steadily move northwards. By the end of August, German forces had withdrawn across France and the
                    Low Countries towards the German border. </p>
                <p>On 17 September, the First Allied Airborne Army and XXX Corps of the Second British Army launched
                    Operation Market Garden, the largest airborne operation of the war. Its objective was the creation
                    of a bridgehead, stretching from the Belgian border and over the Rhine River, a distance of 64 mi
                    (103 Km), thereby providing a route into Northern Germany. U.S. and British airborne forces were to
                    simultaneously capture and hold 9 bridges across 6 major waterways while XXX Corps would swiftly
                    follow overland and secure the invasion route. </p>
            </div>

            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <figure class="figure">
                    <img src="{% static 'images/battle-of-arnhem/Paratroopers landing in Holland.png' %}"
                        class="img-fluid">
                    <figcaption class="figure-caption">Paratroopers landing in Holland</figcaption>
                </figure>
                <figure class="figure">
                    <img src="{% static 'images/battle-of-arnhem/XVIHaarlem091644_Front.jpg' %}" class="img-fluid">
                    <figcaption class="figure-caption">Haarlem (North Holland) – Arnhem (Gelderland), 16 September 1944
                    </figcaption>
                    <figcaption class="figure-caption unbold">Label: <span class="bolded">“Return (to) sender Haarlem /
                            Postal connection
                            with the place / of destination severed."</span> Domestic postcard rate: 5 cents (from 20
                        August, 1940)
                    </figcaption>
                </figure>
                <figure class="figure">
                    <img src="{% static 'images/battle-of-arnhem/Aerial reconnaissance photo.png' %}" class="img-fluid">
                    <figcaption class="figure-caption">Aerial reconnaissance photo of the Arnhem road bridge taken on 19
                        September 1944
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-2"></div>

            <div class="col-lg-12">
                <p>The plan of action consisted of two operations: <br>
                    <span class="bolded">Market</span>: Airborne forces of the First Allied Airborne Army to seize
                    bridges and other terrain, under
                    tactical command of Lieutenant General Frederick “Boy” Browning, and <br>
                    <span class="bolded">Garden</span>: Ground forces of the
                    Second Army to move north spearheaded by XXX Corps under Lieutenant-General Brian Horrocks. The
                    first elements of the British 1st Airborne Division landed at midday on 17 September 1944, some 8
                    miles (13 km) from its objectives. At first the troops made excellent progress, being welcomed as
                    liberators by the jubilant Dutch civilians. However, its advance towards the road and railway
                    bridges was soon hampered by unexpected resistance, especially from elements of the 9th and 10th SS
                    Panzer Divisions.
                </p>

                <p>The first elements of the British 1st Airborne Division landed at midday on 17 September 1944, some 8
                    miles (13 km) from its objectives. At first the troops made excellent progress, being welcomed as
                    liberators by the jubilant Dutch civilians. However, its advance towards the road and railway
                    bridges was soon hampered by unexpected resistance, especially from elements of the 9th and 10th SS
                    Panzer Divisions. </p>
            </div>

            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <figure class="figure">
                    <img src="{% static 'images/battle-of-arnhem/Early ParaWings.png' %}" class="img-fluid">
                    <figcaption class="figure-caption">Early Para Wings</figcaption>
                </figure>
            </div>
            <div class="col-lg-3"></div>

            <div class="col-lg-12">
                <p>Only a small force of approximately 750 men was able to reach the Arnhem road bridge, while the
                    Germans were able to blow up the railway bridge before it could be captured. The main body of the
                    division was stopped on the outskirts of the town. XXX Corps was unable to advance north from
                    Nijmegen as quickly as planned and after four days, the small British force at the bridge was
                    overwhelmed and what was left of the division became trapped in a small pocket in the village of
                    Oosterbeek, just north of the river. After nine days of fighting, the remnants of the division were
                    withdrawn across the Rhine in Operation Berlin.
                </p>

                <p>The 1st Airborne Division lost nearly three quarters of its strength and did not see combat again.
                    The Allies were unable to advance further with no secure bridges over the Rhine and the front line
                    stabilized south of Arnhem, extending the war in the North of Holland for another 8 months. This
                    split between north and south severed postal and other connections. Despite its defeat, the enduring
                    battle of the British 1st Airborne Division at Arnhem has become the stuff of legends and the
                    subject of numerous books, as well as the popular film “A Bridge Too Far.” </p>
            </div>

            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <figure class="figure">
                    <img src="{% static 'images/battle-of-arnhem/Enschede (Overijssel).jpg' %}" class="img-fluid">
                    <figcaption class="figure-caption">Enschede (Overijssel) – Arnhem (GL), 16 September 1944
                    </figcaption>
                    <figcaption class="figure-caption unbold">Returned to Enschede with the handstamp: <span
                            class="bolded">“Postal traffic
                            obstructed / Return Sender"</span> Domestic printed matter rate: 1½ cents per 50g (from 1
                        February,
                        1928)</figcaption>
                </figure>
            </div>
            <div class="col-lg-3"></div>

        </div>

        <div class="row  end-row-indent-sm">
            <div class="col-lg-12">
                <h1> Allied Forces </h1>
                <p> Although most Allied commanders favored a broad front policy to continue the advance into
                    Germany, Field Marshal Bernard Montgomery approached General Dwight “Ike” Eisenhower, supreme
                    commander of Allied forces in western Europe, with an uncharacteristically bold plan to head north
                    through Holland on a narrow front, bypassing the German Siegfried Line and opening a route into the
                    Ruhr, the industrial heartland of Germany. If successful, the plan would open a “back door” to
                    Germany and hopefully force an end to the war in Europe by year’s end.
                </p>
            </div>

            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <figure class="figure">
                    <img src="{% static 'images/battle-of-arnhem/Undated letter from General Dwight.png' %}"
                        class="img-fluid">
                    <figcaption class="figure-caption">Undated letter from General Dwight “Ike” Eisenhower to his wife,
                        Mamie. Sent from “HEADQUARTERS, United States Army Forces in the British Isles. </figcaption>
                </figure>
            </div>
            <div class="col-lg-3"></div>

            <div class="col-lg-12">
                <p> Initially proposed as a British and Polish operation codenamed Operation Comet, the plan soon
                    expanded to include most of the First Allied Airborne Army with a simultaneous ground advance into
                    the Netherlands by the British Second Army, led by <span class="bolded">XXX Corps</span> under <span
                        class="bolded">Lieutenant-General Brian Horrocks</span>.
                    The plan was codenamed Operation Market Garden. Lieutenant - <span class="bolded">General Frederick
                        “Boy” Browning</span> was given overall command of the airborne operation.
                </p>
            </div>

            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <figure class="figure">
                    <img src="{% static 'images/battle-of-arnhem/Field Marshall Montgomery.png' %}" class="img-fluid">
                    <figcaption class="figure-caption"> Field Marshall Montgomery, Lieutenant General “Boy” Browning and
                        Major General Roy Urquhart </figcaption>
                </figure>
            </div>
            <div class="col-lg-3"></div>

            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <figure class="figure">
                    <img src="{% static 'images/battle-of-arnhem/Postwar (30 June 1971) letter.png' %}"
                        class="img-fluid">
                    <figcaption class="figure-caption"> Postwar (30 June 1971) letter from Gen Jim Gavin, in which he
                        discusses tactics of Gen Patton and Field Marshall Montgomery. </figcaption>
                </figure>
            </div>
            <div class="col-lg-3"></div>

            <div class="col-lg-12">
                <p> Montgomery’s plan required the seizure of several bridges across the Maas, the Waal and
                    the Nederrijn (Lower Rhine) rivers, as well as several smaller canals. The U.S. 101st Airborne,
                    under Major General Maxwell Taylor, would drop just north of Eindhoven, capturing the bridges at Son
                    and Veghel, while the 82nd Airborne, under Brigadier General James Gavin, would drop northeast of
                    them to take the bridges at Grave and Nijmegen.
                </p>

                <p>The task of securing the road, rail and pontoon bridges over the Nederrijn at Arnhem fell to the 1st
                    Airborne Division under the command of MajorGeneral Roy Urquhart, with the Polish 1st Independent
                    Parachute Brigade attached, under Major General Stanislaw Sosabowski. The division was made up of
                    three brigades of infantry (two parachute, one glider-borne), supported by Royal Engineer units,
                    artillery of the 1st Airlanding Light Regiment, and elements of the Royal Army Service
                    Corps and Royal Army Medical Corps. While most of the division had seen action in North
                    Africa and Sicily, particularly the 1st Parachute Brigade and 1st Airlanding Brigade, this was the
                    first time that the division had fought as a complete formation.  This force was also supported by
                    some 1,200 men of the Glider Pilot Regiment, who would fly the glider-borne infantry and vehicles
                    into Arnhem, providing the equivalent of two battalions of infantry. </p>
            </div>

            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <figure class="figure">
                    <img src="{% static 'images/battle-of-arnhem/Eisenhower and Montgomery.png' %}" class="img-fluid">
                    <figcaption class="figure-caption"> Original Dutch postcard showing Eisenhower and Montgomery
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-3"></div>

            <div class="col-lg-12">
                <p> From the beginning Urquhart was severely constrained in his planning for the operation. US IX Troop
                    Carrier Command, under Major General Paul Williams, would not land all the airborne troops at one
                    time, having decided that it would only be possible to fly one air lift per day. This meant that it
                    would take three days to deliver the entire division. Few areas were suitable for glider landings
                    and Gen Williams was reluctant to send his aircraft too close to Arnhem, concerned by anti-aircraft
                    flak from nearby Deelen airfield. Urquhart was forced to pick drop zones (DZ) and landing zones (LZ)
                    up to 8 mi (13 km) from Arnhem, on the north side of the river. With the need to secure the bridges,
                    towns and drop zones for subsequent supply drops, the 1st Airborne would need to defend a perimeter
                    18 mi (29 km) long whilst waiting for XXX Corps. This was to prove a daunting task.
                </p>
            </div>

        </div>

        <div class="row end-row-indent-sm">
            <div class="col-lg-12">
                <h1> German Forces</h1>
                <p> Although most Allied commanders favored a broad front policy to continue the advance into
                    Germany, Field Marshal Bernard Montgomery approached General Dwight “Ike” Eisenhower, supreme
                    commander of Allied forces in western Europe, with an uncharacteristically bold plan to head north
                    through Holland on a narrow front, bypassing the German Siegfried Line and opening a route into the
                    Ruhr, the industrial heartland of Germany. If successful, the plan would open a “back door” to
                    Germany and hopefully force an end to the war in Europe by year’s end. </p>
                <p> In early September, the II SS Panzer Corps, under the command of Obergruppenführer Wilhelm Bittrich
                    had moved into the area north of Arnhem to refit and reorganize.  It comprised the remains of
                    the 9th SS Panzer Division Hohenstaufen, under the command of Standartenführer Walter Harzer and
                    the 10th SS Panzer Division Frundsberg under Brigadeführer Heinz Harmel. Although badly mauled in
                    Normandy, the corps was made up of veterans and had significantly more forces available than the
                    Allies had been led to expect. The divisions were also specially trained in antiairborne operations.
                     The exact number of men who were available after the withdrawal from Normandy is unclear, with
                    estimates ranging from 6,000 to 10,000 men. </p>
            </div>

            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <figure class="figure">
                    <img src="{% static 'images/battle-of-arnhem/Brigadeführer Heinz Harmel.png' %}"
                        class="img-fluid">
                    <figcaption class="figure-caption">Camp Westerbork – Brussels (BG), May 17, 1942</figcaption>
                    <figcaption class="figure-caption unbold">This postcard was processed at the postal station in
                        Hooghalen, but presumably posted in the mailbox on the campgrounds. There is no sign of
                        censorship at the camp, but the Oberkommando Wehrmacht (OKW) censor in Cologne placed a
                        machine cancel Landsmann type CPM-1.1.</figcaption>
                    <figcaption class="figure-caption unbold">
                        The postcard tariff to Belgium was 7 ½ cents (from November 1, 1928, to November 1, 1946).
                        The card was under franked by 2 ½ cents, and it is not known why the Dutch PTT, decided to
                        let the card go through and not assess postage due (which would have been 2 x 2 ½ = 5
                        cents).
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-3"></div>

            <div class="col-lg-12">
                <p>The card was addressed to Konrad Bodzanowski, who, with his wife Helen, used to own a ladies
                    apparel store in Berlin. They had a daughter, Hana, who donated the extensive family archive to
                    the U.S. Holocaust Memorial Museum in Washington, DC after the war (Hana Wieder Collection 1926
                    –1956). In Hennie Birnbaum’s card to Konrad in Brussels she asks, “How are you two and your dear
                    children doing?” suggesting that Konrad and Helena had at least two children. Further
                    investigation has not shown what happened to the Bodzanowski family (but it is known that Konrad
                    received a letter in Israel in 1956 advising him of the circumstances of his mother Regina’s
                    death.)</p>
            </div>

            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <figure class="figure">
                    <img src="{% static 'images/evolution-of-holocaust/Konrad Bodzanowski.png' %}" class="img-fluid">
                </figure>
            </div>
            <div class="col-lg-2"></div>
        </div>
        <!-- End Central Refugee Camp Westerbork -->

        <!-- Civil Internment Camps -->
        <a name="civil-internment"></a>
        <div class="row new-row-indent">
            <div class="col-lg-12 end-row-indent-sm">
                <h1> Civil Internment Camps </h1>
            </div>
        </div>

        <div class="row end-row-indent-sm">
            <h2> The Indies Hostages </h2>
            <div class="col-lg-12">
                <p>After the Dutch surrender to the Germans in May 1940, the Dutch East Indies remained free and
                    unoccupied. German citizens living in the colony were arrested and interned to the outrage of
                    German
                    authorities.</p>
                <p>In retaliation, 400 Dutchmen were arrested in Holland. They became known as the Indische
                    Gijzelaars, the Indies Hostages. The Germans hoped that by arresting people who were on leave
                    from
                    the colony or had close ties with it, they would ensure proper treatment of the German
                    internees.
                    For this reason, the Indies Hostages were relatively well treated. Unlike the majority of
                    civilian
                    prisoners, they were allowed to receive Red Cross parcels, clothes and blankets. The Dutch
                    hostages
                    were initially taken to Zivilkonzentrationslager Buchenwald, but in November 1941, they were
                    moved
                    to Haarendael Major Seminary in the town of Haaren. They were then moved to Beekvliet Minor
                    Seminary
                    in St. Michielsgestel and then to a boarding school for boys called De Ruwenberg before finally
                    being sent to Camp Vught. Camp Haaren became the generic name for the three Dutch locations
                    where
                    the hostages were held.</p>
            </div>

            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <figure class="figure">
                    <img src="{% static 'images/evolution-of-holocaust/Klazienaveen – ‘s-Hertogenbosch, June 12, 1942.png' %}"
                        class="img-fluid">
                    <figcaption class="figure-caption">Klazienaveen – ‘s-Hertogenbosch, June 12, 1942</figcaption>
                    <figcaption class="figure-caption unbold">A postcard to C. Ten Napel from his young son. It
                        would appear that the card was addressed separately by an adult, where the address is
                        initially given as Block # 68. However, a separate annotation indicates that Mr. Ten Napel
                        was now residing in Block # 83.</figcaption>
                </figure>
                <figure class="figure">
                    <img src="{% static 'images/evolution-of-holocaust/The Detroit News Headline, August 16, 1942.png' %}"
                        class="img-fluid">
                    <figcaption class="figure-caption">The Detroit News Headline, August 16, 1942</figcaption>
                </figure>
            </div>
            <div class="col-lg-3"></div>

            <div class="col-lg-12">
                <p>In 1942, another group of hostages, civilian internees, were interned at Beekvliet. They were
                    well-known scientists, politicians, government officials and artists. The Germans expected to
                    use these additional hostages to deter the Dutch underground from acts of resistance. Thus,
                    these internees were referred to as “anti-resistance hostages:” However, when the resistance
                    nevertheless carried out an attack on a Nazi troop train outside Rotterdam, the Germans executed
                    five of these hostages on August 15, 1942.</p>
            </div>

            <div class="col-lg-6">
                <figure class="figure">
                    <img src="{% static 'images/evolution-of-holocaust/Entrance to the former Haarendael Major Seminary.png' %}"
                        class="img-fluid">
                    <figcaption class="figure-caption">Entrance to the former Haarendael Major Seminary</figcaption>
                </figure>
            </div>
            <div class="col-lg-6">
                <p>Incoming and outgoing camp mail was free of postage but had to pass through the SD, the Security
                    Police in nearby s’Hertogenbosch. Internees were allowed to send one letter per week.</p>
                <p>A letter sent from G.W.A. de Veer, born on April 22, 1904, in Amsterdam, a civilian internee in
                    Room # 771 at the Major Seminary Camp Haaren to his wife, Mrs. R.J. de Veer. The censor’s
                    initials were added in red. Mr. G.W.A. de Veer was a well-known philatelist and author who
                    specialized in Dutch Railroad stamps. He survived the war.</p>
            </div>

            <div class="col-lg-6">
                <figure class="figure">
                    <img src="{% static 'images/evolution-of-holocaust/official-german-notice-1942.png' %}"
                        class="img-fluid">
                    <figcaption class="figure-caption">Official German notice dated August 15, 1942, announcing the
                        execution of the five Dutch hostages</figcaption>
                </figure>
            </div>
            <div class="col-lg-6">
                <figure class="figure">
                    <img src="{% static 'images/evolution-of-holocaust/Camp Haaren – Enschede, October 17, 1944.png' %}"
                        class="img-fluid">
                    <figcaption class="figure-caption">Camp Haaren – Enschede, October 17, 1944</figcaption>
                    <figcaption class="figure-caption unbold">Circular date stamp place by the S.D. censor with
                        censor initials added in red.</figcaption>
                </figure>
                <figure class="figure">
                    <img src="{% static 'images/evolution-of-holocaust/camp-haaren-part-2.png' %}" class="img-fluid">
                </figure>
            </div>

            <div class="col-lg-12">
                <p>Letter to Dr. Tom Kruijff, a civilian internee in Camp Beekvliet from his wife in Utrecht. Dr.
                    Kruijff, born on July 7, 1895, was employed by the Utrecht Province. His name appears in the UK
                    National Archives as a Dutch helper of Allied airmen and other military personnel.</p>
            </div>

            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <figure class="figure">
                    <img src="{% static 'images/evolution-of-holocaust/Utrecht – Camp Haaren (Beekvliet), August 30, 1942.png' %}"
                        class="img-fluid">
                    <figcaption class="figure-caption">Utrecht – Camp Haaren (Beekvliet), August 30, 1942
                    </figcaption>
                    <figcaption class="figure-caption unbold">While correctly franked with 17 ½ cents (7 ½ cents
                        regular postage plus 10 cents express) the sender likely did not realize that post to the
                        camp did not require regular postage.</figcaption>
                </figure>
            </div>
            <div class="col-lg-3"></div>

            <div class="col-lg-12">
                <p>Indies hostage J. Ph van Dalsum. was the principal of the Middelburg RHBS (high school). He was
                    interned on May 4, 1942 and released April 20, 1944.</p>
            </div>

            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <figure class="figure">
                    <img src="{% static 'images/evolution-of-holocaust/Camp Haaren (Beekvliet) – Zeist, November 25, 1942.png' %}"
                        class="img-fluid">
                    <figcaption class="figure-caption">Camp Haaren (Beekvliet) – Zeist, November 25, 1942
                    </figcaption>
                    <figcaption class="figure-caption unbold">Handstamp “Portvrij /Burger - Geinterneerde” (Exempt
                        from postage /Civilian Internee) and “Geprüft” in red with SD censor’s initials.
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-3"></div>

            <div class="col-lg-12">
                <p>A postcard from an internee at Camp Haaren (De Ruwenberg) who listed his status as “Internee for
                    the Neth Indies”.</p>
            </div>

            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <figure class="figure">
                    <img src="{% static 'images/evolution-of-holocaust/Camp Haaren (Boarding School Ruwenberg) – Geldrop, May 10, 1943.png' %}"
                        class="img-fluid">
                    <figcaption class="figure-caption">Camp Haaren (Boarding School Ruwenberg) – Geldrop, May 10,
                        1943
                    </figcaption>
                    <figcaption class="figure-caption unbold">Letters to and from POWs/ internees had free franking
                        privilege per Geneva Convention (although this was often ignored, especially in Germany).
                    </figcaption>
                    <figcaption class="figure-caption unbold">This letter passed the German censor who placed the
                        handstamp “Geprüft”, i.e. censored.
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-3"></div>


            <div class="col-lg-12">
                <p>The sender, J.B.J. Dijkman (b. 1898), a high school teacher, was initially interned in
                    Buchenwald. He was later transferred to St. Michiels-gestel, first in Haaren and then in
                    Ruwenberg. He was eventually liberated at Camp Vught on September 17, 1944.</p>
            </div>

            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <figure class="figure">
                    <img src="{% static 'images/evolution-of-holocaust/Camp Ruwenberg – Zwolle, August 18, 1943.png' %}"
                        class="img-fluid">
                    <figcaption class="figure-caption">Camp Ruwenberg – Zwolle, August 18, 1943
                    </figcaption>
                    <figcaption class="figure-caption unbold">Letter with the handstamp “Geprüft” from the
                        Sicherheits Dienst (SD). Clear impressions struck in black are rare.
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-3"></div>
        </div>

        <div class="row new-row-indent-sm">
            <h2> The Dutch Resistance </h2>
            <div class="col-lg-6">
                <figure class="figure">
                    <img src="{% static 'images/evolution-of-holocaust/Letters to and from POWs/ internees.png' %}"
                        class="img-fluid">
                    <figcaption class="figure-caption unbold">Letters to and from POWs/ internees had free franking
                        privilege per Geneva Convention.</figcaption>
                </figure>
            </div>
            <div class="col-lg-6">
                <p>
                    Archival records show that Pieter Dirk Boyenk born in The Hague on April 26, 1918, was a
                    resistance fighter. This undated letter was written to his mother, Maria Elisabeth Boyenk-Bos,
                    born July 28, 1883, married to Giles Nicolaas Boyenk, born August 5, 1878. Pieter was arrested
                    by the Germans and detained in Cell # 346 at the infamous Hotel Orange.
                </p>

            </div>

            <div class="col-lg-12">
                <figure class="figure">
                    <img src="{% static 'images/evolution-of-holocaust/The Hague – ‘s-Gravenhage, date unknown.png' %}"
                        class="img-fluid">
                    <figcaption class="figure-caption">The Hague – ‘s-Gravenhage, date unknown</figcaption>
                </figure>
            </div>

            <div class="col-lg-6">
                <figure class="figure">
                    <img src="{% static 'images/evolution-of-holocaust/Card thrown from a train –Rotterdam, November 15, 1944.png' %}"
                        class="img-fluid">
                    <figcaption class="figure-caption">Card thrown from a train – Rotterdam, November 15, 1944
                    </figcaption>
                    <figcaption class="figure-caption unbold">Domestic postcard tariff 5 cents (from August 20, 1940
                        to November 1, 1946). One card was printed by the Dutch Postal Service PTT, with the 5 cents
                        value printed over the old value of 7 ½ cents, while the sender of the other card had to af
                        x a 5 cents stamp.</figcaption>
                </figure>
            </div>
            <div class="col-lg-6">
                <p>Franciscus J. Brehm, b. December 23, 1918, was a resistance fighter arrested in Rotterdam and
                    detained in the local prison on May 5, 1944. He was subsequently transferred to Camp Amersfoort,
                    and it is known that Brehm was moved to Zwolle on September 26, 1944. The card was mailed in
                    Borne, some 50 km southeast of Zwolle, on Wednesday, November 15, 1944, and because it is dated
                    “Tuesday” on the card, he probably started writing it the day before. Brehm addressed the card
                    to his family in Rotterdam.</p>
            </div>

            <div class="col-lg-6">
                <figure class="figure">
                    <img src="{% static 'images/evolution-of-holocaust/well-alie.png' %}" class="img-fluid">
                </figure>
            </div>
            <div class="col-lg-6">
                <div class="alert alert-info" role="alert">
                    <p>Well Alie, it is as I said. At the moment we are approaching the German border, so you know
                        what is going on. Nasty isn’t it. But there is nothing that one can do about it. Let us hope
                        for the best. I probably won’t be home now until after the war. If only we end up in one
                        piece. Give my regards to everyone. Ignore the handwriting. We are writing in the freight
                        train, and then we will throw it out. </p>
                </div>
            </div>

            <div class="col-lg-12">
                <div class="alert alert-info" role="alert">
                    <p>While in the Fair Building (Utrecht) I was asked about my profession I had. My answer was
                        insufficient for my release… The German Major said: I have made a decidision and that is
                        “labor”. We left at 11:30AM and arrived in the infamous Camp Amersfoort at 5:00AM. Although
                        I know that you will try everything possible, I don’t think that you will get me released. I
                        only hope that I survive... Say hi to the boys, and thank Mrs. Kloche for her kindness. I
                        accidentally kept the keys to the safe in my pocket. </p>
                </div>
            </div>

            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <figure class="figure">
                    <img src="{% static 'images/evolution-of-holocaust/While in the Fair Building.png' %}"
                        class="img-fluid">
                    <figcaption class="figure-caption">Card thrown from a train – Utrecht, October 3, 1944
                    </figcaption>
                </figure>
                <figure class="figure">
                    <img src="{% static 'images/evolution-of-holocaust/Card thrown from a train – Utrecht, October 3, 1944.png' %}"
                        class="img-fluid">
                </figure>
            </div>
            <div class="col-lg-2"></div>

            <div class="col-lg-12">
                <p>It is clear that the sender, T. Kruijff, had this card with him in case he was arrested. It was
                    thrown from the train en route from Camp Amersfoort and picked up and delivered after being
                    found alongside the tracks. The stamp is not canceled, and it was delivered outside the postal
                    system. He also added in pencil “ik ben opgepakt”, "I have been arrested." Then he added one
                    more note at the bottom: a co-victim asked that his wife be notified and that all is fine so
                    far.</p>
            </div>


        </div>
        <!-- End Central Refugee Camp Westerbork -->
        <nav aria-label="Page navigation example" class="pagination-nav">
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="{% url 'evolution_of_holocaust' %}">Previous</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'evolution_of_holocaust' %}">1</a></li>
                <li class="page-item active"><a class="page-link" href="{% url 'evolution_of_holocaust_2' %}">2</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'evolution_of_holocaust_3' %}">3</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'evolution_of_holocaust_4' %}">4</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'evolution_of_holocaust_5' %}">5</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'evolution_of_holocaust_6' %}">6</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'evolution_of_holocaust_7' %}">7</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'evolution_of_holocaust_8' %}">8</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'evolution_of_holocaust_9' %}">9</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'evolution_of_holocaust_3' %}">Next</a></li>
            </ul>
        </nav>

    </div>
    <!-- end exhibit content -->
</div>


{% endblock content %}