{% extends "postal/base.html" %}
{% load static %}

{% block extracss %}
{% if request.path == '/exhibits/evolution-4/' %}
<link rel="stylesheet" type="text/css" href="{% static 'css/exhibit_individual_pages.css' %}">
{% endif %}
{% endblock %}

{% block title %}Evolution of Holocaust in Holland{% endblock title %}
{% block content %}

<div class="row add-exhibit-padding new-row-indent">
    <div class="col-lg-3 col-md-12 col-sm-12">
        <div class="list-group sticky-top">
            <li class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">CONTENTS
            </li>
            <a href="{% url 'evolution_of_holocaust' %}#evolution-of-holocaust"
                class="list-group-item list-group-item-action" aria-current="true" onclick="makeActive(event)">
                Evolution of Holocaust in Holland
            </a>
            <a href="{% url 'evolution_of_holocaust' %}#pre-war" class="list-group-item list-group-item-action"
                onclick="makeActive(event)">Pre-War
                Refugee Camps</a>
            <a href="{% url 'evolution_of_holocaust' %}#central-refugee-transit"
                class="list-group-item list-group-item-action" onclick="makeActive(event)"> Central
                Refugee/Transit Camp Westerbork</a>
            <a href="{% url 'evolution_of_holocaust_2' %}#camp-westerbork"
                class="list-group-item list-group-item-action" onclick="makeActive(event)">
                Central Refugee Camp Westerbork</a>
            <a href="{% url 'evolution_of_holocaust_2' %}#civil-internment"
                class="list-group-item list-group-item-action" onclick="makeActive(event)"> Civil Internment
                Camps</a>
            <a href="{% url 'evolution_of_holocaust_3' %}#camp-amersfoort"
                class="list-group-item list-group-item-action" onclick="makeActive(event)"> Concentration
                Camp Amersfoort</a>
            <a href="{% url 'evolution_of_holocaust_3' %}#camp-vught" class="list-group-item list-group-item-action"
                onclick="makeActive(event)">Concentration
                Camp Vught </a>
            <a href="{% url 'evolution_of_holocaust_3' %}#gestapo-prison" class="list-group-item list-group-item-action"
                onclick="makeActive(event)"> Gestapo Prison
                Scheveningen </a>
            <a href="{% url 'evolution_of_holocaust_3' %}#german-investigation"
                class="list-group-item list-group-item-action" onclick="makeActive(event)"> German
                Investigation and Punishment Prison - Utrecht
            </a>
            <a href="#" class="list-group-item list-group-item-action" onclick="makeActive(event)"> Transit Camp
                Westerbork
            </a>
            <a href="#" class="list-group-item list-group-item-action" onclick="makeActive(event)">
                German Concentration Camp Mail
            </a>
            <a href="#" class="list-group-item list-group-item-action" onclick="makeActive(event)">
                Post War Enquiries
            </a>
        </div>
    </div>

    <!-- exhibit content -->
    <div class="col-lg-9 col-md-12 col-sm-12">
        <!-- Concentration Camp Amersfoort -->
        <a name="camp-amersfoort"></a>
        <div class="row end-row-indent-sm">
            <div class="col-lg-12">
                <h1>Transit Camp Westerbork</h1>
            </div>
        </div>

        <div class="row end-row-indent-sm">
            <h2> Mail Restrictions / Regulations </h2>

            <div class="col-lg-12">
                <p>This postcard was sent from Camp Westerbork to Gouda in the west of Holland. The sender, Harry Juras,
                    born in Berlin on October 25, 1907 married Belle Mehrkrebs in Camp Westerbork on April 19, 1943.
                    Harry died in “Central Europe” on February 28, 1945. There are no available records regarding
                    Belle’s fate.</p>
            </div>

            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <figure class="figure">
                    <img src="{% static 'images/evolution-of-holocaust/Camp Westerbork – Gouda, June 25, 1943.png' %}"
                        class="img-fluid">
                    <figcaption class="figure-caption">Camp Westerbork – Gouda, June 25, 1943</figcaption>
                </figure>
            </div>
            <div class="col-lg-3"></div>


            <div class="col-lg-6">
                <figure class="figure">
                    <img src="{% static 'images/evolution-of-holocaust/Camp Westerbork Amsterdam,1944.png' %}"
                        class="img-fluid">
                    <figcaption class="figure-caption">Camp Westerbork Amsterdam, July 22, 1944</figcaption>
                    <figcaption class="figure-caption unbold">This form letter was sent by Louise Gosler to the Gans
                        family. Gosler was born in Amsterdam on September 23, 1886. He was murdered in Auschwitz on
                        October 14, 1944.
                    </figcaption>
                    <figcaption class="figure-caption unbold">Domestic letter tariff 7½ cents (from August 20, 1940 to
                        November 1, 1946). Letter Form Type 167-40M-4‘44 printed April 1944. Run of 20,0000.
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-6">
                <figure class="figure">
                    <img src="{% static 'images/evolution-of-holocaust/Mailbags for the barracks.png' %}"
                        class="img-fluid">
                    <figcaption class="figure-caption">Mailbags for the barracks</figcaption>
                </figure>
            </div>

            <div class="col-lg-6">
                <figure class="figure">
                    <img src="{% static 'images/evolution-of-holocaust/thanks for the letter and the packages.png' %}"
                        class="img-fluid">
                </figure>
            </div>
            <div class="col-lg-6">
                <div class="alert alert-info" role="alert">
                    <p>Thanks for the letter and the packages … doing fine … Would like to have some smoking material …
                        The ring arrived.
                    </p>
                </div>
            </div>

            <div class="col-lg-6">
                <figure class="figure">
                    <img src="{% static 'images/evolution-of-holocaust/Auschwitz, Celle and Theresienstadt.png' %}"
                        class="img-fluid">
                    <figcaption class="figure-caption">A special camp order of November 17, 1943, stated that ordinary
                        letters were no longer permitted at Camp Westerbork. Special forms, printed in Germany, were
                        introduced and sold to camp inmates for 5 cents plus postage, to conform with postal regulations
                        already imposed in German concentration camps.</figcaption>
                </figure>
            </div>
            <div class="col-lg-6">
                <div class="alert alert-info" role="alert">
                    <p>Last week letters arrived from Auschwitz, Celle and Theresienstadt, among them a letter from
                        Maurits Gosler in Celle addressed to you.
                    </p>
                </div>
            </div>

            <div class="col-lg-12">
                <p>It is surprising that letters from three different concentration camps still arrived in Westerbork at
                    this late date (July, 1944). Equally surprising is that the recipient, the Jewish Gans family, was
                    still able to live in a prime location in the center of Amsterdam.</p>
            </div>

        </div>
        <!-- End Concentration Camp Amersfoort -->

        <div class="row end-row-indent-sm">
            <div class="col-lg-12">
                <h2> Star of David Censorship Marking </h2>
                <p> Kurt Arthur Zielenziger and Fritz Hirschberg knew each other from when they both lived in Berlin.
                    Hirschberg, a Dutch Jew, studied medicine in Germany and received his license to practice in 1914.
                    After Kristallnacht and the November 1939 pogrom, he was imprisoned in Sachsenhausen Concentration
                    Camp. After his release in January 1939, he fled to Norway. His escape was short-lived, as Germany
                    invaded Norway in April 1940. He lived underground until he was able to reach Sweden with other
                    refugees in November 1942. His 77-year-old mother, however, was arrested by the Gestapo and
                    eventually murdered in Auschwitz. </p>
                <p>The response section of a card Zielenziger had sent from Stockholm was returned on December 14,1943.
                    It is clear from the text that Hirschberg is trying to help his friend.</p>
            </div>

            <div class="col-lg-6">
                <figure class="figure">
                    <img src="{% static 'images/evolution-of-holocaust/Auschwitz, Celle and Theresienstadt.png' %}"
                        class="img-fluid">
                    <figcaption class="figure-caption unbold">A special camp order of November 17, 1943, stated that
                        ordinary
                        letters were no longer permitted at Camp Westerbork. Special forms, printed in Germany, were
                        introduced and sold to camp inmates for 5 cents plus postage, to conform with postal regulations
                        already imposed in German concentration camps.</figcaption>
                </figure>
            </div>
            <div class="col-lg-6">
                <div class="alert alert-info" role="alert">
                    <p>Last week letters arrived from Auschwitz, Celle and Theresienstadt, among them a letter from
                        Maurits Gosler in Celle addressed to you.
                    </p>
                </div>
            </div>

            <div class="col-lg-6">
                <figure class="figure">
                    <img src="{% static 'images/evolution-of-holocaust/Auschwitz, Celle and Theresienstadt.png' %}"
                        class="img-fluid">
                    <figcaption class="figure-caption">Camp Westerbork – Stockholm (SW), December 14, 1943</figcaption>
                    <figcaption class="figure-caption unbold">Swedish Response card Tariff 20 öre from July 1, 1936 to
                        June 1, 1952.</figcaption>
                </figure>
            </div>
            <div class="col-lg-6">
                <div class="alert alert-info" role="alert">
                    <p>Thank you for your effort…the papers I confirmed to you already…because of them we are recognized
                        under our new identity.
                    </p>
                </div>
            </div>

        </div>
        <nav aria-label="Page navigation example" class="pagination-nav">
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="{% url 'evolution_of_holocaust_3' %}">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="{% url 'evolution_of_holocaust' %}">1</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'evolution_of_holocaust_2' %}">2</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'evolution_of_holocaust_3' %}">3</a></li>
                <li class="page-item active"><a class="page-link" href="{% url 'evolution_of_holocaust_4' %}">4</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">6</a></li>
                <li class="page-item"><a class="page-link" href="#">7</a></li>
                <li class="page-item"><a class="page-link" href="#">8</a></li>
                <li class="page-item"><a class="page-link" href="#">9</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>
    </div>
    <!-- end exhibit content -->
</div>


{% endblock content %}