{% extends "postal/base.html" %}
{% load static %}
{% block extracss %}
{% if request.path == '/exhibits/evolution-8/' %}
<link rel="stylesheet" type="text/css" href="{% static 'css/exhibit_individual_pages.css' %}">
{% endif %}
{% endblock %}

{% block title %}Evolution of Holocaust in Holland{% endblock title %}
{% block content %}

<div class="row add-exhibit-padding new-row-indent">
    <div class="col-lg-3 col-md-12 col-sm-12">
        <div class="list-group sticky-top">
            <li class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">CONTENTS
            </li>
            <a href="{% url 'evolution_of_holocaust' %}#evolution-of-holocaust"
                class="list-group-item list-group-item-action" aria-current="true" onclick="makeActive(event)">
                Evolution of Holocaust in Holland
            </a>
            <a href="{% url 'evolution_of_holocaust' %}#pre-war" class="list-group-item list-group-item-action"
                onclick="makeActive(event)">Pre-War
                Refugee Camps</a>
            <a href="{% url 'evolution_of_holocaust' %}#central-refugee-transit"
                class="list-group-item list-group-item-action" onclick="makeActive(event)"> Central
                Refugee/Transit Camp Westerbork</a>
            <a href="{% url 'evolution_of_holocaust_2' %}#camp-westerbork"
                class="list-group-item list-group-item-action" onclick="makeActive(event)">
                Central Refugee Camp Westerbork</a>
            <a href="{% url 'evolution_of_holocaust_2' %}#civil-internment"
                class="list-group-item list-group-item-action" onclick="makeActive(event)"> Civil Internment
                Camps</a>
            <a href="{% url 'evolution_of_holocaust_3' %}#camp-amersfoort"
                class="list-group-item list-group-item-action" onclick="makeActive(event)"> Concentration
                Camp Amersfoort</a>
            <a href="{% url 'evolution_of_holocaust_3' %}#camp-vught" class="list-group-item list-group-item-action"
                onclick="makeActive(event)">Concentration
                Camp Vught </a>
            <a href="{% url 'evolution_of_holocaust_3' %}#gestapo-prison" class="list-group-item list-group-item-action"
                onclick="makeActive(event)"> Gestapo Prison
                Scheveningen </a>
            <a href="{% url 'evolution_of_holocaust_3' %}#german-investigation"
                class="list-group-item list-group-item-action" onclick="makeActive(event)"> German
                Investigation and Punishment Prison - Utrecht
            </a>
            <a href="{% url 'evolution_of_holocaust_4' %}" class="list-group-item list-group-item-action"
                onclick="makeActive(event)"> Transit Camp
                Westerbork
            </a>
            <a href="#" class="list-group-item list-group-item-action" onclick="makeActive(event)">
                German Concentration Camp Mail
            </a>
            <a href="#" class="list-group-item list-group-item-action" onclick="makeActive(event)">
                Post War Enquiries
            </a>
        </div>
    </div>

    <!-- exhibit content -->
    <div class="col-lg-9 col-md-12 col-sm-12">
        <!-- Transit Camp Westerbork (continued) -->
        <div class="row end-row-indent-sm">
            <div class="col-lg-12">
                <h1> Transit Camp Westerbork (continued) </h1>
            </div>
        </div>

        <h2> Ghost Letters (2) </h2>
        <div class="row end-row-indent-sm">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <figure class="figure">
                    <img src="{% static 'images/evolution-of-holocaust/The Hague – Amsterdam, July 2, 1942.png' %}"
                        class="img-fluid">
                    <figcaption class="figure-caption">The Hague – Amsterdam, July 2, 1942
                    </figcaption>
                    <figcaption class="figure-caption unbold">On July 15, 1942, the first train left Westerbork for
                        Auschwitz. It was the first of 94 trains, departing every Tuesday, that would carry victims to
                        Auschwitz or other camps “in the east”.</figcaption>
                    <figcaption class="figure-caption unbold">Dienstpost indicates free franking.</figcaption>
                </figure>
                <figure class="figure">
                    <img src="{% static 'images/evolution-of-holocaust/This Dienst service envelope (free of postage).png' %}"
                        class="img-fluid">
                </figure>
            </div>
            <div class="col-lg-3"></div>

            <div class="col-lg-12">
                <p>This Dienst service envelope (free of postage) from the
                    Inspection of Population Registries in The Hague had been sent to Amsterdam on July 2, 1942.
                    However, the addressee, Mrs. Terhorst-Boll no longer lived there. Delivery to a new address was
                    also not successful. According to the official notation on the back, “new address in the area
                    not known”. A pencil note reads “to Westerbork” but instead of the letter being forwarded it was
                    instead returned to the sender. Helena Dimphina Terhorst-Boll, who was born in Rotterdam on
                    August 15, 1903, survived the war and died in Amsterdam on May 4, 1980.</p>
            </div>

            <div class="new-row-indent-sm"></div>
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <figure class="figure">
                    <img src="{% static 'images/evolution-of-holocaust/Amsterdam – Camp Westerbork, July 1, 1943.png' %}"
                        class="img-fluid">
                    <figcaption class="figure-caption">Amsterdam – Camp Westerbork, July 1, 1943
                    </figcaption>
                    <figcaption class="figure-caption unbold">Domestic letter tariff 7½ cents (from August 20, 1940 to
                        November 1, 1946).</figcaption>
                </figure>
            </div>
            <div class="col-lg-3"></div>

            <div class="col-lg-12">
                <p>This cover dated July 1, 1943 was addressed to Amsterdam lawyer Michel Schorlesheim in “Barrack 65
                    bed 607 Kamp Westerbork”. It received a terug afzender, i.e. “return to sender” handstamp and the
                    dreaded letter “T” and it was sent back on July 7, just five days after Schorlesheim had been
                    murdered in Sobibor.</p>

                <ul class="end-row-indent-sm">
                    <li>Registration label from the St. Anthonies Breestraat post office in Amsterdam;</li>
                    <li>Censorship Cologne Landsmann type CP3.3.1 (from October 1941 to September 1942); Postmarked
                        Cracow, August 26, 1942;</li>
                    <li>The “Einschreiben” (registered) handstamp was struck in Cracow to alert processors to the card’s
                        special status;</li>
                    <li>The label “Abgereist/ohne Angabe der Adresse” (departed without leaving address) in German,
                        Polish, and French;</li>
                    <li>The ominous handstamp “Verzogen!/Anschrift unbekannt” (moved, forwarding address unknown);
                        and “Zuruck” (return) in manuscript.</li>

                </ul>
            </div>

            <div class="new-row-indent-sm"></div>

            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <figure class="figure">
                    <img src="{% static 'images/evolution-of-holocaust/Amsterdam – Generalgouvernment (PL), August 21, 1942.png' %}"
                        class="img-fluid">
                    <figcaption class="figure-caption">Amsterdam – Generalgouvernment (PL), August 21, 1942
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-3"></div>

            <div class="col-lg-12">
                <p>This card was sent to Aron Wurzel by his father, Abraham Wurzel, a Jew born in Srczuczin, Poland, on
                    October 2, 1897. He lived at Sint Antoniebreestraat 41ll, in the Jewish section in the center of
                    Amsterdam. Wurzel was on the train that left Westerbork, July 20, 1943, and was killed in Sobibor
                    three days later.</p>
            </div>



        </div>

        <div class="row  end-row-indent-sm">
            <h2> Ghost Letters (3) </h2>

           
            <div class="col-lg-6">
                <figure class="figure">
                    <img src="{% static 'images/evolution-of-holocaust/Camp Westerbork – Leipzig (DE), April 18, 1942.png' %}"
                        class="img-fluid">
                    <figcaption class="figure-caption">Camp Westerbork – Leipzig (DE), April 18, 1942</figcaption>
                </figure>
            </div>
            <div class="col-lg-6">

                <figure class="figure">
                    <img src="{% static 'images/evolution-of-holocaust/Camp Westerbork – Leipzig (DE), April 18, 1942-2.png' %}"
                        class="img-fluid">
                </figure>
            </div>

            <div class="col-lg-12 end-row-indent-sm">
                <p>
                    Postcard from Camp Westerbork, Barracks 49 to Leipzig. The card was taken to the camp post
                    office
                    and then to the nearby town of Assen. There it was processed and forwarded to Cologne for
                    censoring
                    (red handstamp).
                </p>
                <p>
                    Circular P. 1512 of December 24, 1941, announced that the postcard tariff to Germany (and some
                    satellites) was reduced to 5 cents effective January 1, 1942. Landsmann type CP3.4.1 red censorship
                    marking in Cologne.
                </p>
            </div>

            <div class="col-lg-6">
                <div class="alert alert-info" role="alert">
                    <p class="remove-margin-bottom">I do not know the cause of all the aliments that are hurting me… in my right arm and hand I have
                        a nerve inflammation…
                    </p>
                </div>
                <figure class="figure">
                    <img src="{% static 'images/evolution-of-holocaust/The sender, Otto Selig, a German Jew.png' %}"
                        class="img-fluid">
                    <figcaption class="figure-caption unbold">The sender, Otto Selig, a German Jew, died on February 28,
                        1945, somewhere in “Middle Europe.”</figcaption>
                </figure>
            </div>
            <div class="col-lg-6">
                <figure class="figure">
                    <img src="{% static 'images/evolution-of-holocaust/letter.png' %}"
                        class="img-fluid">
                </figure>
            </div>



        </div>

        <div class="row end-row-indent-sm new-row-indent">
            <h1>German Concentration Camp Mail</h1>
            <h2> Theresienstadt / Terezin </h2>

            <div class="col-lg-6">
                <figure class="figure">
                    <img src="{% static 'images/evolution-of-holocaust/Camp Westerbork – Falkenburg (SW), November 18, 1940.png' %}"
                        class="img-fluid">
                    <figcaption class="figure-caption">Camp Westerbork – Falkenburg (SW), November 18, 1940
                    </figcaption>
                    <figcaption class="figure-caption unbold">International postcard tariff 7½ cents (from November 1,
                        1928, until November 1, 1946). Berlin censor type BP2.2 with tilde (in use July 1940 to November
                        1944) and encircled C (in use September 1940 to January 1941).</figcaption>
                </figure>
            </div>
            <div class="col-lg-6">
                <div class="alert alert-info" role="alert">
                    <p class="remove-margin-bottom">November 18, 1940: “…since the middle of September I have had only
                        one message via the Red Cross.”
                    </p>
                </div>
                <p>This extraordinary archive of postcards and letters sent by Dr. Alfons Bergmann, a Jewish physician
                    interned in Westerbork, to Dr. Arthur Buttermilch, a Jewish colleague and friend in Sweden runs from
                    November 18, 1940, to July 28, 1943,. The latter’s mother was also held in Westerbork, and Bergmann
                    regularly writes about her health.</p>
                <p>Dr. Kurt Alfons Bergmann, born in Berlin in 1888, arrived in Holland on December 1, 1938, and stayed
                    in camps for legal refugees in Reuver and Hoek can, Holland. He was taken to Westerbork on May 28,
                    1940, and would witness its transition from refugee to transit camp.</p>
            </div>

            <div class="col-lg-6">
                <div class="alert alert-info" role="alert">
                    <p class="remove-margin-bottom">January 8, 1941: “… I hope to get some news from my cousin in
                        Boston.”
                    </p>
                </div>
                <figure class="figure">
                    <img src="{% static 'images/evolution-of-holocaust/Camp Westerbork – Falkenburg (SW), January 8, 1941.png' %}"
                        class="img-fluid">
                    <figcaption class="figure-caption">Camp Westerbork – Falkenburg (SW), January 8, 1941
                    </figcaption>
                </figure>
                <figure class="figure">
                    <img src="{% static 'images/evolution-of-holocaust/Partially reconstructed barracks.png' %}"
                        class="img-fluid">
                    <figcaption class="figure-caption">Partially reconstructed barracks in Camp Westerbork, where Alfons
                        Bergmann resided for 4 ½ years.
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-6">
                <div class="alert alert-info" role="alert">
                    <p class="remove-margin-bottom">December 19, 1941: “… I have now been in this country 3 years and no
                        one knows how long it will take.”
                    </p>
                </div>

                <figure class="figure">
                    <img src="{% static 'images/evolution-of-holocaust/Camp Westerbork – Falkenburg (SW), December 19, 1941.png' %}"
                        class="img-fluid">
                    <figcaption class="figure-caption">Camp Westerbork – Falkenburg (SW), December 19, 1941
                    </figcaption>
                </figure>

                <figure class="figure">
                    <img src="{% static 'images/evolution-of-holocaust/Map of Camp Westerbork.png' %}"
                        class="img-fluid">
                    <figcaption class="figure-caption">Map of Camp Westerbork
                    </figcaption>
                </figure>

            </div>
        </div>

        <div class="row end-row-indent-sm">
            <h2> The Bergmann Saga (2) </h2>
            <div class="col-lg-6">
                <figure class="figure">
                    <img src="{% static 'images/evolution-of-holocaust/Camp Westerbork – Falkenburg (SW), December 29, 1942.png' %}"
                        class="img-fluid">
                    <figcaption class="figure-caption">Camp Westerbork – Falkenburg (SW), December 29, 1942
                    </figcaption>
                    <figcaption class="figure-caption unbold">International postcard tariff 7 1/2 cents (from November
                        1, 1928 until November 1, 1946). Underfranked by 2 1/2 cents yet the card was processed.
                    </figcaption>
                </figure>

            </div>
            <div class="col-lg-6 end-row-indent-sm">
                <div class="alert alert-info" role="alert">
                    <p class="remove-margin-bottom">December 29, 1942: “…It has now been 4 years since I was separated
                        from my loved ones…”
                    </p>
                </div>
            </div>

            <div class="col-lg-6">
                <figure class="figure">
                    <img src="{% static 'images/evolution-of-holocaust/Camp Westerbork – Falkenburg (SW), July 23, 1943.png' %}"
                        class="img-fluid">
                    <figcaption class="figure-caption">Camp Westerbork – Falkenburg (SW), July 23, 1943
                    </figcaption>
                    <figcaption class="figure-caption unbold">Berlin censor type BP2.2 with tilde (in use July 1940 to
                        November 1944). The blue chemical wipe was applied by the censor to both sides to detect
                        invisible writing. A variety of chemicals were used by the censor for this purpose.
                    </figcaption>
                </figure>

            </div>
            <div class="col-lg-6 end-row-indent-sm">
                <div class="alert alert-info" role="alert">
                    <p class="remove-margin-bottom">July 23, 1943: “…have not heard anything.”
                    </p>
                </div>
                <p>As of July 1942, Camp Westerbork started deporting Jews to “The East.”</p>
                <p>Selma Samuel was a corset maker born in Salzkotten, Germany, on March 23, 1903. According to Dutch
                    Red Cross file #66547 she and Alfons Bergmann were married in Camp Westerbork on March 23, 1943.</p>
                <p>On September 4, 1944, the Bergman’s were deported to Theresienstadt on one of the last trains to
                    leave Westerbork, having been in the camp since 1940. From there, Alfons Bergmann and his wife of
                    less than two years were taken to Auschwitz, where they were murdered on October 14, 1944.</p>
            </div>

            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <figure class="figure">
                    <img src="{% static 'images/evolution-of-holocaust/Camp Westerbork – Falkenburg (SW), July 9, 1943.png' %}"
                        class="img-fluid">
                    <figcaption class="figure-caption">Camp Westerbork – Falkenburg (SW), July 9, 1943
                    </figcaption>
                    <figcaption class="figure-caption unbold">International letter tariff 12 1/2 cents per 20 grams
                        (from November 1, 1928 until November 1, 1946).</figcaption>
                </figure>
                <figure class="figure">
                    <img src="{% static 'images/evolution-of-holocaust/Alfons Bergmann-38.png' %}" class="img-fluid">
                    <figcaption class="figure-caption unbold">After having been moved from one barrack to another,
                        Alfons Bergmann was now staying in Westerbork Barracks 38.</figcaption>
                </figure>
                <figure class="figure">
                    <img src="{% static 'images/evolution-of-holocaust/OKW label BPV1.1.png' %}" class="img-fluid">
                    <figcaption class="figure-caption unbold">The camp censor approved the content (curl in pencil) and
                        it was subsequently censored in Berlin, where the envelope was closed with OKW label BPV1.1. in
                        use from July 1942 to November 1943.</figcaption>
                </figure>
            </div>
            <div class="col-lg-3"></div>
        </div>

        <div class="row end-row-indent-sm">
            <h2> Ghost Letters (1) </h2>
            <div class="col-lg-2">
                <figure class="figure">
                    <img src="{% static 'images/evolution-of-holocaust/Elias Benjamins.png' %}" class="img-fluid">
                    <figcaption class="figure-caption">Elias Benjamins, age 23</figcaption>
                </figure>
            </div>
            <div class="col-lg-10">
                <p>Evidence of the deportation of Jews can be found in the letters that never reached the addressee.
                    Mail had to include the name of the camp resident, their date of birth and the number of the
                    barracks where he or she resided.</p>
                <p>Mail addressed to those already sent east to the concentration camps was returned to the sender with
                    handstamps and manuscript markings that left no illusions as to the fate of the addressee. Some
                    addresses were crossed out, while others were marked with a simple “T” for “transport”, a
                    deceptively discrete notation that indicated the likely death of the intended recipient.</p>
            </div>

            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <figure class="figure">
                    <img src="{% static 'images/evolution-of-holocaust/Amsterdam Camp Westerbork, October 22.png' %}"
                        class="img-fluid">
                    <figcaption class="figure-caption">Amsterdam – Camp Westerbork, October 22, 1942</figcaption>
                    <figcaption class="figure-caption unbold">This letter was addressed to Mr. and Mrs. Elias Benjamins,
                        who had lived in Amsterdam with their one-year-old daughter, Anita Marjo. It arrived too late
                        despite the express delivery because the family had already been deported to Auschwitz on
                        October 23, 1942, as shown on the card issued by Cartotheek Joodse Raad. The annotation reads
                        “Trsp. 23.10.1942” where “Trsp” stands for “transport” The address on the envelope was crossed
                        out and shows the chilling notation.“terugafz” (terug afzender = return to sender). Elisabeth
                        and their daughter were murdered immediately upon arrival in Auschwitz on October 26, 1942.
                        Elias perished in “Central Europe” on March 31, 1944.</figcaption>
                </figure>
            </div>
            <div class="col-lg-2"></div>

            <div class="col-lg-6">
                <figure class="figure">
                    <img src="{% static 'images/evolution-of-holocaust/Elisabeth Benjamins Jewish Council Registration Card.png' %}"
                        class="img-fluid">
                    <figcaption class="figure-caption">Elisabeth Benjamins – Jewish Council Registration Card
                    </figcaption>
                    <figcaption class="figure-caption unbold">Domestic letter tariff 7½ cents (from August 20, 1940 to
                        November 1, 1946) plus express delivery 10 cents (from February 1, 1928 to November 1, 1946).
                    </figcaption>
                </figure>
            </div>
            <div class="col-lg-6">
                <figure class="figure">
                    <img src="{% static 'images/evolution-of-holocaust/Doorwerth – Camp Westerbork, May 19, 1943.png' %}"
                        class="img-fluid">
                    <figcaption class="figure-caption">Doorwerth – Camp Westerbork, May 19, 1943</figcaption>
                    <figcaption class="figure-caption unbold">The card received the German handstamp:
                        Unbestellbar/retour absender as well as the ominous letter “T” (transport).
                    </figcaption>
                    <figcaption class="figure-caption unbold">
                        Domestic postcard tariff 5 cents (from August 20, 1940, to November 1, 1946).
                    </figcaption>
                </figure>
            </div>
        </div>

        <div class="row end-row-indent-sm">
            <div class="col-lg-6">
                <figure class="figure">
                    <img src="{% static 'images/evolution-of-holocaust/Consul General has instructions.png' %}"
                        class="img-fluid">
                </figure>
            </div>
            <div class="col-lg-6">
                <div class="alert alert-info" role="alert">
                    <p class="remove-margin-bottom">Consul General has instructions to arrange for your entry visas. We
                        are doing everything humanly possible ... Please have faith ... Expect your response ... Keep up
                        your courage.
                    </p>
                </div>
                <p>The card from Doorwerth (near Arnhem), was written on May 17, 1943, posted on May 19 and returned by
                    the Assen post office handling Westerbork mail on May 1943. Leopold Gutherz, the addressee, had been
                    murdered in Sobibor on May 28, 1943, i.e. the day before Westerbork returned the card.</p>
            </div>
        </div>

        <nav aria-label="Page navigation example" class="pagination-nav">
            <ul class="pagination justify-content-center">
                <li class="page-item"><a class="page-link" href="{% url 'evolution_of_holocaust_6' %}">Previous</a>
                </li>
                <li class="page-item"><a class="page-link" href="{% url 'evolution_of_holocaust' %}">1</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'evolution_of_holocaust_2' %}">2</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'evolution_of_holocaust_3' %}">3</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'evolution_of_holocaust_4' %}">4</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'evolution_of_holocaust_5' %}">5</a>
                </li>
                <li class="page-item"><a class="page-link" href="{% url 'evolution_of_holocaust_6' %}">6</a></li>
                <li class="page-item"><a class="page-link" href="{% url 'evolution_of_holocaust_7' %}">7</a></li>
                <li class="page-item active"><a class="page-link" href="{% url 'evolution_of_holocaust_8' %}">8</a></li>
                <li class="page-item"><a class="page-link" href="#">9</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
            </ul>
        </nav>

    </div>

</div>
<!-- end exhibit content -->
</div>


{% endblock content %}