{% load static %}
<div class="hero-image">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 align-center">
            <img src="{% static 'images/APH stamp.png' %}">
        </div>
        <div class="col-lg-8 col-md-6 col-sm-12">
            <h1> Arnhem Postal History </h1>
            <p> Welcome to the Arnhem Postal History Project, a collection of stamps, covers, correspondence,
                photographs
                and documents from the Netherlands between 1939 and 1945. The collection focuses on understanding the everyday lives of the Dutch during World War II through postal history. The project includes a database of images, people and places represented by the objects in
                the
                collection, an interactive map, a timeline of major events, exhibits providing more in depth views of the impact of war on the civilian population, and short essays
                highlighting
    items of interest.</p>
        </div>
    </div>
</div>
