{% load static %}
<div class="hero-image">
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 align-center">
            <img src="{% static 'images/APH stamp.png' %}">
        </div>
        <div class="col-lg-8 col-md-6 col-sm-12">
            <h1> Arnhem Postal History </h1>
            <p> Welcome to the Arnhem Postal History Project, a collection of stamps, covers, correspondence,
                photographs
                and documents from the Netherlands during World War II. Through the lens of postal services &emd;
                including
                postmarks, censor markings, and routing &emd; the collection offers a glimpse of everyday life in
                tumultuous
                times. The project includes a database of images, people and places represented by the objects in
                the
                collection; exhibits providing more in depth views of time periods and events; and short essays
                focused
                items of interest.</p>
        </div>
    </div>
</div>