{% load django_tables2 %}
{% load i18n %}

{% block table-wrapper %}
    <div class="table-body-container table-responsive">
        {% block table %}
            <h2>table starts----</h2>
            <table {% render_attrs table.attrs class="table table-striped" %}>
                {% block table.thead %}
                    <thead {{ table.attrs.thead.as_html }}>
                        <tr>
                            {% for column in table.columns %}
                                <th {{ column.attrs.th.as_html }}
                                    x-data="{ col_name: '{{ column.order_by_alias }}',
                                            toggle(event) {
                                            this.col_name = this.col_name.startsWith('-') ? this.col_name.substring(1) : ('-' + this.col_name);
                                            sort_by = this.col_name;}}"
                                    @click="toggle()"
                                    class="w-1/3"
                                    :class="sort_by !== '' ? (sort_by === col_name ? (sort_by.startsWith('-') ? 'desc' : 'asc') : '') : ''"
                                    style="cursor: pointer;"
                                    scope="col">
                                    {{ column.header }}
                                </th>
                            {% endfor %}
                        </tr>
                    </thead>
                {% endblock table.thead %}

                {% block table.tbody %}
                    <tbody id="body-target" {{ table.attrs.tbody.as_html }}>
                        {% for row in table.paginated_rows %}
                            {% block table.tbody.row %}
                                <tr {{ row.attrs.as_html }} class="hover:bg-gray-100 cursor-pointer">
                                    {% for column, cell in row.items %}
                                        <td class="px-4 py-3" {{ column.attrs.td.as_html }}>{% if column.localize == None %}{{ cell }}{% else %}{% if column.localize %}{{ cell|localize }}{% else %}{{ cell|unlocalize }}{% endif %}{% endif %}</td>
                                    {% endfor %}
                                </tr>
                            {% endblock table.tbody.row %}
                        {% empty %}
                            {% if table.empty_text %}
                                {% block table.tbody.empty_text %}
                                    <tr class="hover:bg-gray-100 cursor-pointer">
                                        <td colspan="{{ table.columns|length }}" class="px-4 py-3">
                                            <a href="{% url 'items' id=row.record.id %}">
                                                {{ table.empty_text }}
                                            </a></td></tr>
                                {% endblock table.tbody.empty_text %}
                            {% endif %}
                        {% endfor %}
                    </tbody>
                {% endblock table.tbody %}
                {% block table.tfoot %}
                    {% if table.has_footer %}
                        <tfoot {{ table.attrs.tfoot.as_html }}>
                            <tr>
                                {% for column in table.columns %}
                                    <td {{ column.attrs.tf.as_html }}>{{ column.footer }}</td>
                                {% endfor %}
                            </tr>
                        </tfoot>
                    {% endif %}
                {% endblock table.tfoot %}
            </table>
        {% endblock table %}

        {% block pagination %}
            {% if table.page and table.paginator.num_pages > 1 %}
                <div aria-label="Table navigation" class="mt-4">
                    <ul id="pagination" class="pagination justify-content-end">
                        {% if table.page.has_previous %}
                            {% block pagination.previous %}
                                <li id="previous" class="page-item">
                                    <a class="page-link" href="#" @click="page_by = {{table.page.previous_page_number}}">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">{% trans 'previous' %}</span>
                                    </a>
                                </li>
                            {% endblock pagination.previous %}
                        {% endif %}
                        {% if table.page.has_previous or table.page.has_next %}
                            {% block pagination.range %}
                                {% for p in table.page|table_page_range:table.paginator %}
                                    <li class="page-item {% if table.page.number == p %}active{% endif %}">
                                        <a class="page-link" href="#" {% if p != '...' %} @click="page_by={{p}}" {% endif %}>
                                            {{ p }}
                                        </a>
                                    </li>
                                {% endfor %}
                            {% endblock pagination.range %}
                        {% endif %}
                        {% if table.page.has_next %}
                            {% block pagination.next %}
                                <li class="page-item">
                                    <a class="page-link" href="#" @click="page_by = {{table.page.next_page_number}}">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">{% trans 'next' %}</span>
                                    </a>
                                </li>
                            {% endblock pagination.next %}
                        {% endif %}
                    </ul>
                </div>
            {% endif %}
        {% endblock pagination %}

    </div>
{% endblock table-wrapper %}